/* --- regroupe tous les styles de texte, tailles, et autres codes utilitaires utilisés sur le forum --- */

/* --- TAILLES --- */
smallest, .smallest {font-size: var(--smallest);}
smaller, .smaller {font-size: var(--smaller);}
small, .small {font-size: var(--small);}
small2, .small2 {font-size: var(--small2);}
medium, .medium {font-size: var(--medium);}
medium2, .medium2 {font-size: var(--medium2);}
big, .big {font-size: var(--big);}
bigger, .bigger {font-size: var(--bigger);}
bigger2, .bigger2 {font-size: var(--bigger2);}
biggest, .biggest {font-size: var(--biggest);}

/* --- POLICES --- */
montserrat, .montserrat {font-family: 'Montserrat', 'Arial', sans-serif;}
sugarbaby, .sugarbaby {font-family: 'sugar_babyregular', 'Times new roman', serif;}
playfair, .playfair {font-family: 'Playfair display', 'Palatino', serif;}
krfont, .krfont {font-family: 'Diphylleia', serif;}
krfont2, .krfont2 {font-family: 'Noto Sans KR', sans-serif;}
aesthetic, .aesthetic {font-family: 'Aesthetic Regular', 'Times new roman', serif;}
enoway, .enoway {font-family: 'enoway_personal_useregular', 'Arial', sans-serif;}
voltaire, .voltaire {font-family: 'Voltaire', 'Arial', sans-serif;}
cinzel, .cinzel{font-family: 'Cinzel', 'Times new roman', serif;}
cinzeld, .cinzeld{font-family: 'Cinzel Decorative', 'Times new roman', serif;}

/* --- variables diverses --- */
:root {
  /* variables de couleurs */
  --bh: #AC00AC; 
  --byeonhwa: #AC00AC;
  --bhc: #cd66cd; 
  --bhf: #890089; 
  --bhOp: rgba(172, 0, 172, 0.3);

  --bom: #DF5C93; 
  --bomc: #e88cb3; 
  --bomf: #9c4066; 
  --bomOp: rgba(223, 92, 147, 0.3); 

  --yeo: #66A465; 
  --yeoreum: #66A465;
  --yeoc: #93bf93; 
  --yeof: #477246; 
  --yeoOp: rgba(102, 164, 101, 0.3); 

  --gaeul: #E97747; 
  --gaeulc: #ef9f7e; 
  --gaeulf: #a35331; 
  --gaeulOp: rgba(233, 119, 71, 0.3); 

  --gyeoul: #50B6B8; 
  --gyeoc: #84cbcd; 
  --gyeof: #387f80; 
  --gyeoOp: rgba(80, 182, 184, 0.3); 

  --akma: #C43852; 
  --akmac: #d57385;
  --akmaf: #892739;
  --akmaOp: rgba(196, 56, 82, 0.3); 

  --mun: #726CE2; 
  --munoehan: #726CE2;
  --munc: #9c98ea;
  --munf: #4f4b9e;
  --munOp: rgba(114, 108, 226, 0.3); 

  /* variables de gradients */
  --bhtransp: linear-gradient(to left, transparent, var(--bh)); 
  --bhtransp_rev: linear-gradient(to right, transparent, var(--bh)); 
  --bhtransp_mid: linear-gradient(to left, transparent, var(--bh), transparent); 

  /* gradients groupe > transparent */
  /* VERS LA DROITE */
  --bomgrad: linear-gradient(to right, var(--bom), transparent, transparent);
  --yeograd: linear-gradient(to right, var(--yeo), transparent, transparent);
  --gagrad: linear-gradient(to right, var(--gaeul), transparent, transparent);
  --gygrad: linear-gradient(to right, var(--gyeoul), transparent, transparent);
  --mungrad: linear-gradient(to right, var(--mun), transparent, transparent);
  --akgrad: linear-gradient(to right, var(--akma), transparent, transparent);
  --byeongrad: linear-gradient(to right, var(--bh), transparent, transparent);
  
  /* VERS LA GAUCHE */
  --bomgradinv: linear-gradient(to left, var(--bom), transparent, transparent);
  --yeogradinv: linear-gradient(to left, var(--yeo), transparent, transparent);
  --gagradinv: linear-gradient(to left, var(--gaeul), transparent, transparent);
  --gygradinv: linear-gradient(to left, var(--gyeoul), transparent, transparent);
  --mungradinv: linear-gradient(to left, var(--mun), transparent, transparent);
  --akgradinv: linear-gradient(to left, var(--akma), transparent, transparent);
  --byeongradinv: linear-gradient(to left, var(--bh), transparent, transparent);

  /* VERS LE BAS */
  --bomgradbottom: linear-gradient(to bottom, var(--bom), transparent, transparent);
  --yeogradbottom: linear-gradient(to bottom, var(--yeo), transparent, transparent);
  --gagradbottom: linear-gradient(to bottom, var(--gaeul), transparent, transparent);
  --gygradbottom: linear-gradient(to bottom, var(--gyeoul), transparent, transparent);
  --mungradbottom: linear-gradient(to bottom, var(--mun), transparent, transparent);
  --akgradbottom: linear-gradient(to bottom, var(--akma), transparent, transparent);
  --byeongradbottom: linear-gradient(to bottom, var(--bh), transparent, transparent);

  /* VERS LE HAUT */
  --bomgradtop: linear-gradient(to top, var(--bom), transparent, transparent);
  --yeogradtop: linear-gradient(to top, var(--yeo), transparent, transparent);
  --gagradtop: linear-gradient(to top, var(--gaeul), transparent, transparent);
  --gygradtop: linear-gradient(to top, var(--gyeoul), transparent, transparent);
  --mungradtop: linear-gradient(to top, var(--mun), transparent, transparent);
  --akgradtop: linear-gradient(to top, var(--akma), transparent, transparent);
  --byeongradtop: linear-gradient(to top, var(--bh), transparent, transparent);

  /* GROUPE > GROUPE */
  --bomyeo: linear-gradient(to right, var(--bom), var(--yeo)); /* BOM > YEOREUM */
  --yeobom: linear-gradient(to left, var(--bom), var(--yeo)); 

  --bomga: linear-gradient(to right, var(--bom), var(--gaeul)); /* BOM > GAEUL */
  --gabom: linear-gradient(to left, var(--bom), var(--gaeul));

  --bomgyeo: linear-gradient(to right, var(--bom), var(--gyeoul)); /* BOM > GYEOUL */
  --gyeobom: linear-gradient(to left, var(--bom), var(--gyeoul));

  --akbom: linear-gradient(to right, var(--akma), var(--bom)); /* AKMA > BOM */
  --bomak: linear-gradient(to left, var(--akma), var(--bom));

  --munbom: linear-gradient(to right, var(--mun), var(--bom)); /* MUN > BOM */
  --bomun: linear-gradient(to left, var(--mun), var(--bom));

  --yeoga: linear-gradient(to right, var(--yeo), var(--gaeul)); /* YEOREUM > GAEUL */
  --gayeo: linear-gradient(to left, var(--yeo), var(--gaeul));

  --akyeo: linear-gradient(to right, var(--akma), var(--yeo)); /* AKMA > YEOREUM */
  --yeoak: linear-gradient(to left, var(--akma), var(--yeo));

  --yeogyeo: linear-gradient(to right, var(--yeo), var(--gyeoul)); /* YEOREUM > GYEOUL */
  --gyeoyeo: linear-gradient(to left, var(--yeo), var(--gyeoul));

  --munyeo: linear-gradient(to right, var(--mun), var(--yeo)); /* MUN > YEOREUM */
  --yeomun: linear-gradient(to left, var(--mun), var(--yeo));

  --akga: linear-gradient(to right, var(--akma), var(--gaeul)); /* AKMA > GAEUL */ 
  --gaak: linear-gradient(to left, var(--akma), var(--gaeul)); 

  --munga: linear-gradient(to right, var(--mun), var(--gaeul)); /* MUN > GAEUL */
  --gamun: linear-gradient(to left, var(--mun), var(--gaeul));

  --akgyeo: linear-gradient(to right, var(--akma), var(--gyeoul)); /* AKMA > GYEOUL */ 
  --gyeoak: linear-gradient(to left, var(--akma), var(--gyeoul)); 

  --akmun: linear-gradient(to right, var(--akma), var(--mun)); /* AKMA > MUN */ 
  --munak: linear-gradient(to left, var(--akma), var(--mun));

  --gagyeo: linear-gradient(to right, var(--gaeul), var(--gyeoul)); /* GAEUL > GYEOUL */ 
  --gyeoga: linear-gradient(to left, var(--gaeul), var(--gyeoul));

  --mungyeo: linear-gradient(to right, var(--mun), var(--gyeoul)); /* MUN > GYEOUL */ 
  --gyeomun: linear-gradient(to left, var(--mun), var(--gyeoul));
}

/* --- couleurs principales --- */
byeonhwa, .byeonhwa, bh, .bh {color: var(--bh);}
bom, .bom {color: var(--bom);}
yeoreum, .yeoreum, yeo, .yeo {color: var(--yeo);}
gaeul, .gaeul {color: var(--gaeul);}
gyeoul, .gyeoul {color: var(--gyeoul);}
akma, .akma {color: var(--akma);}
munoehan, .munoehan, mun, .mun {color: var(--mun);}

/* --- couleurs secondaires --- */
/* --- plus CLAIRES ---*/
byeonhwac, .byeonhwac, bhc, .bhc {color: var(--bhc);}
bomc, .bomc {color: var(--bomc);}
yeoc, .yeoc {color: var(--yeoc);}
gaeulc, .gaeulc {color: var(--gaeulc);}
gyeoc, .gyeoc {color: var(--gyeoc);}
akmac, .akmac {color: var(--akmac);}
munc, .munc {color: var(--munc);}

/* --- plus FONCEES --- */
byeonhwaf, .byeonhwaf, bhf, .bhf {color: var(--bhf);}
bomf, .bomf {color: var(--bomf);}
yeof, .yeof {color: var(--yeof);}
gaeulf, .gaeulf {color: var(--gaeulf);}
gyeof, .gyeof {color: var(--gyeof);}
akmaf, .akmaf {color: var(--akmaf);}
munf, .munf {color: var(--munf);}

/* --- GRADIENTS --- */
/* --- fonctionnement de base --- */
bomyeo, yeobom, bomga, gabom, bomgyeo, gyeobom, bomak, akbom, bomun, munbom, gayeo, yeoga, yeogyeo, gyeoyeo, yeoak, akyeo, yeomun, munyeo, gagyeo, gyeoga, gaak, akga, gamun, munga, gyeoak, akgyeo, gyeomun, mungyeo, akmun, munak, 
.bomyeo, .yeobom, .bomga, .gabom, .bomgyeo, .gyeobom, .bomak, .akbom, .bomun, .munbom, .gayeo, .yeoga, .yeogyeo, .gyeoyeo, .yeoak, .akyeo, .yeomun, .munyeo, .gagyeo, .gyeoga, .gaak, .akga, .gamun, .munga, .gyeoak, .akgyeo, .gyeomun, .mungyeo, .akmun, .munak {
  background-size: 100% !important; 
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/* --- couleur > couleur (et plus) --- */
bhtransp {background: var(--bhtransp);} /* byeonhwa > transparent */
bhtransp_rev {background: var(--bhtransp_rev);} /* transparent < byeonhwa */
bhtransp_mid {background: var(--bhtransp_mid);} /* transparent > byeonhwa < transparent */

/* --- groupe vers transparent --- */
/* BOM */
bomgrad, .bomgrad {background: var(--bomgrad);} /* bom > transparent */
bomgradinv, .bomgradinv {background: var(--bomgradinv);} /* transparent > bom */
bomgradtop, .bomgradtop {background: var(--bomgradtop);} 
bomgradbottom, .bomgradbottom {background: var(--bomgradbottom);}

/* YEOREUM */
yeograd, .yeograd {background: var(--yeograd);} /* yeo > transparent */
yeogradinv, .yeogradinv {background: var(--yeogradinv);} /* transparent > yeo */
yeogradtop, .yeogradtop {background: var(--yeogradtop);} 
yeogradbottom, .yeogradbottom {background: var(--yeogradbottom);}

/* GAEUL */
gagrad, .gagrad {background: var(--gagrad);} /* gaeul > transparent */
gagradinv, .gagradinv {background: var(--gagradinv);} /* transparent > gaeul */
gagradtop, .gagradtop {background: var(--gagradtop);} 
gagradbottom, .gagradbottom {background: var(--gagradbottom);}

/* GYEOUL */
gygrad, .gygrad {background: var(--gygrad);} /* gyeoul > transparent */
gygradinv, .gygradinv {background: var(--gygradinv);} /* transparent > gyeoul */
gygradtop, .gygradtop {background: var(--gygradtop);} 
gygradbottom, .gygradbottom {background: var(--gygradbottom);}

/* MUN */
mungrad, .mungrad {background: var(--mungrad);} /* mun > transparent */
mungradinv, .mungradinv {background: var(--mungradinv);} /* transparent > mun */
mungradtop, .mungradtop {background: var(--mungradtop);} 
mungradbottom, .mungradbottom {background: var(--mungradbottom);}

/* AKMA */
akgrad, .akgrad {background: var(--akgrad);} /* akma > transparent */
akgradinv, .akgradinv {background: var(--akgradinv);} /* transparent > akma */
akgradtop, .akgradtop {background: var(--akgradtop);} 
akgradbottom, .akgradbottom {background: var(--akgradbottom);}

/* BYEONHWA */
byeongrad, .byeongrad {background: var(--byeongrad);} /* bh > transparent */
byeongradinv, .byeongradinv {background: var(--byeongradinv);} /* transparent > bh */
byeongradtop, .byeongradtop {background: var(--byeongradtop);} 
byeongradbottom, .byeongradbottom {background: var(--byeongradbottom);}


/* --- groupe vers groupe --- */
/* --- BOM > groupe --- */
bomyeo, .bomyeo {background: var(--bomyeo);} 
yeobom, .yeobom {background: var(--yeobom);} 
bomga, .bomga {background: var(--bomga);} 
gabom, .gabom {background: var(--gabom);} 
bomgyeo, .bomgyeo {background: var(--bomgyeo);}
gyeobom, .gyeobom {background: var(--gyeobom);}
bomak, .bomak {background: var(--bomak);}
akbom, .akbom {background: var(--akbom);}
bomun, .bomun {background: var(--bomun);}
munbom, .munbom {background: var(--munbom);}

/* --- YEOREUM > groupe --- */
gayeo, .gayeo {background: var(--gayeo);}
yeoga, .yeoga {background: var(--yeoga);}
yeogyeo, .yeogyeo {background: var(--yeogyeo);}
gyeoyeo, .gyeoyeo {background: var(--gyeoyeo);}
yeoak, .yeoak {background: var(--yeoak);}
akyeo, .akyeo {background: var(--akyeo);}
yeomun, .yeomun {background: var(--yeomun);}
munyeo, .munyeo {background: var(--munyeo);}

/* --- GAEUL > groupe --- */
gagyeo, .gagyeo {background: var(--gagyeo);}
gyeoga, .gyeoga {background: var(--gyeoga);}
gaak, .gaak {background: var(--gaak);}
akga, .akga {background: var(--akga);}
gamun, .gamun {background: var(--gamun);}
munga, .munga {background: var(--munga);}

/* --- GYEOUL > groupe --- */ 
gyeoak, .gyeoak {background: var(--gyeoak);}
akgyeo, .akgyeo {background: var(--akgyeo);}
gyeomun, .gyeomun {background: var(--gyeomun);}
mungyeo, .mungyeo {background: var(--mungyeo);}

/* --- AKMA > groupe --- */ 
akmun, .akmun {background: var(--akmun);}
munak, .munak {background: var(--munak);}


/* --- évidences : evid, evid2, evid3 --- */
grad1, .grad1 {
  background: var(--grad1); 
  font-weight: var(--semibold-fw); 
  background-size: 100%; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

evid, .evid, grad2, .grad2 {
  background: var(--grad2); 
  font-weight: var(--semibold-fw); 
  background-size: 100%; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -- effet bouton -- */
evid2, .evid2, ebh, .ebh, ebom, .ebom, eyeo, .eyeo, ega, .ega, egyeo, .egyeo, emun, .emun, eak, .eak {
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

evid2, .evid2 {background: var(--bg2);}
ebh, .ebh {background: linear-gradient(to bottom, var(--baseClr2-20), var(--bhOp));}
ebom, .ebom {background: linear-gradient(to bottom, var(--baseClr2-20), var(--bomOp));}
eyeo, .eyeo {background: linear-gradient(to bottom, var(--baseClr2-20), var(--yeoOp));}
ega, .ega {background: linear-gradient(to bottom, var(--baseClr2-20), var(--gaeulOp));}
egyeo, .egyeo {background: linear-gradient(to bottom, var(--baseClr2-20), var(--gyeoOp));}
emun, .emun {background: linear-gradient(to bottom, var(--baseClr2-20), var(--munOp));}
eak, .eak {background: linear-gradient(to bottom, var(--baseClr2-20), var(--akmaOp));}


/* surlignement */
evid3, .evid3 {box-shadow: inset 0 -6px 0 var(--baseClr2-20);}
ebh2, .ebh2 {box-shadow: inset 0 -6px 0 var(--bhOp);}
ebom2, .ebom2 {box-shadow: inset 0 -6px 0 var(--bomOp);}
eyeo2, .eyeo2 {box-shadow: inset 0 -6px 0 var(--yeoOp);}
ega2, .ega2 {box-shadow: inset 0 -6px 0 var(--gaeulOp);}
egyeo2, .egyeo2 {box-shadow: inset 0 -6px 0 var(--gyeoOp);}
emun2, .emun2 {box-shadow: inset 0 -6px 0 var(--munOp);}
eak2, .eak2 {box-shadow: inset 0 -6px 0 var(--akmaOp);}

/* --- AUTRES --- */

/* --- alignements --- */
left, .left {float: left !important;}
right, .right {float: right !important;}


/* --- TW/CW --- */
tw, .tw, cw, .vw {
  font-weight: var(--bold-fw);
}

tw::before, .tw::before, cw::before, .cw::before {
  background: linear-gradient(to top, var(--akma), var(--akmac));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase; 
}

tw::before, .tw::before {
  content: "tw : "; 
}

cw::before, .cw::before {
  content: "cw : "; 
}

/* --- tw (blurry) --- */
twhide, .twhide {
  filter: blur(3px); 
  transition: filter .3s; 
}

twhide:hover, .twhide:hover {
  filter: none; 
}

/* -- tags -- */
bh_taken, bh_free, bh_npc, bh_res, bh_scen {
  font-weight: var(--semibold-fw); 
  text-transform: uppercase; 
  font-size: var(--small); 
  padding: 0.2rem 1rem; 
  border-radius: var(--small-radius);   
}

bh_taken {
  background: var(--akmaOp); 
  color: var(--akma); 
}

bh_free {
  background: var(--yeoOp); 
  color: var(--yeo); 
}

bh_res {
  background: var(--gaeulOp); 
  color: var(--gaeul); 
}

bh_npc {
  background: var(--bhOp); 
  color: var(--bh); 
}

bh_scen {
  background: var(--munOp); 
  color: var(--mun); 
}

/* ---------- COULEURS ---------- */
baseClr, .baseClr {color: var(--baseClr);}
baseClr2, .baseClr2 {color: var(--baseClr2)}
baseClr3, .baseClr3 {color: var(--baseClr3);}
accentClr, .accentClr {color: var(--accentClr);}
accentClr2, .accentClr2 {color: var(--accentClr2);}

/* -- TITRES ET DIVERS -- */
atitle1, .atitle1, 
atitle2, .atitle2 {
  font-weight: var(--semibold-fw);
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
  color: var(--accentClr);
}

atitle2, .atitle2 {
  text-transform: uppercase; 
}

atitle1::after, .atitle1::after,
atitle2::after, .atitle2::after {
  display: inline-block;
  content: "";
  height: 1px;
  width: 100%;
  background: var(--accentClr);
  margin-left: 1rem;
  opacity: 0.5;
}

lowercase, .lowercase {text-transform: lowercase;}
uppercase, .uppercase {text-transform: uppercase;}