/* --- ANNEXES --- */
/* code général des sujets administratifs */

/* --- séparation des posts administratifs et des posts classiques --- */
.post:has(.bh_admin) {
  /* code ici */
  /* le sélecteur :has permet de modifier un post UNIQUEMENT s'il contient "bh_admin" */
}

/* --- */

.post:has(.bh_admin) .post_profile, .post:has(.bh_admin) .post_userinfo, .post:has(.bh_admin) .profil_contact {
  display: none; 
}

.post:has(.bh_admin) .container__sprofile {
  display: flex; 
  margin: 2rem 2rem 0 2rem;
  line-height: var(--small-lh); 
  align-items: center; 
  flex: 50%; 
}

.post:has(.bh_admin) .container__pr {
  display: flex; 
  flex-direction: column; 
}

.post:has(.bh_admin) .post_avatar, .post:has(.bh_admin) .post_pseudo, .post:has(.bh_admin) .post_rank {
  all: unset; 
}

/* avatar */
.post:has(.bh_admin) .post_avatar {
  height: 4rem; 
  width: 4rem;  
  margin-right: 1rem; 
}

.post:has(.bh_admin) .post_avatar img {
  height: 4rem; 
  width: 4rem; 
  object-fit: cover; 
  border-radius: 100%; 
}

/* pseudo */
.post:has(.bh_admin) .post_pseudo {
  font-size: var(--big); 
  font-family: var(--font2); 
  text-transform: uppercase; 
}

/* rang */
.post:has(.bh_admin) .post_rank {
  text-transform: uppercase; 
  font-size: var(--small);  
}

.post:has(.bh_admin) .rank {
  font-weight: bold !important; 
}

.post:has(.bh_admin) .post_rank .rank__cont, .post:has(.bh_admin) .rank, .post:has(.bh_admin) .qrank {
  all: unset;
}

.post:has(.bh_admin) .rank__cont::before, .post:has(.bh_admin) .rank__cont::after {
  display: none; 
}

.post:has(.bh_admin) .rank, .post:has(.bh_admin) .qrank {
  font-style: unset; 
}

.post:has(.bh_admin) .post_rank br {
  display: none; 
}

/* post */
.post:has(.bh_admin) .container__post {
  width: 108rem; /* 1080px */
  border-radius: var(--radius) !important; 
  display: flex; 
  flex-wrap: wrap; 
}

/* post details */
.post:has(.bh_admin) .post_details {
  display: flex; 
  flex-direction: column-reverse; 
  align-items: flex-end;   
  justify-content: center; 
}

/* profil étendu */
.post:has(.bh_admin) .hover_profile {
  display: none !important; 
}

/* --------------------------------------------------------- */
/* -------------- ANNEXES ET DEMANDES ---------------------- */

/* container */
.bh_annexe {
  display: flex; 
}

/* -- table of content -- */
.annexe_toc {
  background: linear-gradient(var(--baseClr3-10), var(--baseClr2-20));
  border-radius: var(--radius) 0 0 var(--radius);
  min-width: 22rem !important;
  max-width: 22rem !important;
  border-right: 0.4rem var(--baseClr3-20) solid;
}

.toc_links {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.toc_links a {
  height: 3rem; 
  margin: 0.2rem 0; 
  padding: 0 1rem; 
  border-bottom: 1px var(--baseClr3-20) solid;  
  border-left: 4px var(--baseClr3-20) solid; 
  display: flex; 
  align-items: center; 
  text-transform: uppercase; 
  font-weight: var(--semibold-fw); 
  font-size: var(--small2); 
  color: var(--textClr); 
}

.toc_links a:hover, .toc_links a.active {
  color: var(--accentClr); 
  background: var(--baseClr-60); 
  border-bottom: 1px var(--baseClr2-40) solid;  
  border-left: 4px var(--baseClr2-40) solid;
}

/* -- contenu annexe -- */
.annexe_content {
  background: linear-gradient(var(--baseClr3-10), var(--baseClr2-20)); 
  border-radius: var(--radius); 
  flex-grow: 1; 
}

/* border-radius AVEC navigation (toc) */
.bh_annexe:has(.annexe_toc) .annexe_content {
  border-radius: 0 var(--radius) var(--radius) 0; 
}

/* titre */
.annexe_title, .annexe_toc h2 {
  text-align: center;
  padding: 1rem 0;
  display: block;
}

.annexe_title {
  display: flex; 
  flex-direction: column;  
}

.annexe_title h2, .annexe_toc h2 {
  font-size: 2.4rem !important; 
}

.annexe_subtitle {
  margin-top: -2.5rem; 
  font-style: italic; 
  text-transform: uppercase; 
  font-size: var(--small); 
}

.annexe_subtitle::after {
  display: inline-block; 
  content: ""; 
  background: var(--grad2); 
  height: 1px; 
  width: 95%;  
  opacity: 0.5; 
}

/* -- boîte texte interne GENERALE -- */
.annexe_textcont {
  height: 75%;
  text-align: justify;
  background: var(--baseClr-70);
  border-radius: var(--radius);
  margin: 1rem 2rem;
  padding: 2rem;
}

/* -- texte interne overflow -- */
.annexe_text {
  height: 100%;
  padding: 0 2rem;
  overflow: auto;
  text-align: justify;
  border-radius: var(--radius);
}

/* général */
.annexe_toc, .annexe_content {
  margin: 0 2px;
  height: 70rem;
}

/* -- liens utiles -- */
.annexe_links {
  margin: 0 2rem; 
  text-align: center; 
}

/* titre */
.annexe_links div {
  background: var(--grad1); 
  background-size: 100%; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--medium2); 
  font-family: var(--font2); 
  text-transform: uppercase; 
  font-weight: var(--semibold-fw); 
  margin: 1rem 0; 
  display: flex; 
  flex-wrap: nowrap; 
  white-space: nowrap; 
  align-items: center; 
}

.annexe_links div span {
  padding: 0 0.5rem; 
}

.annexe_links div::before, .annexe_links div::after {
  content: ""; 
  height: 1px; 
  width: 100%; 
  display: block; 
  background: var(--baseClr3-60); 
}

/* boutons liens utiles */
.annexe_links a {
  position: relative; 
  background: var(--bg2); 
  padding: 0.5rem 1rem; 
  border-radius: var(--radius); 
  margin-right: 0.5rem;  
  font-weight: var(--semibold-fw); 
  color: var(--textClr); 
}

.annexe_links a::after {
  content: "";
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  border-radius: var(--radius);
  background: var(--baseClr2-20);
  transition: var(--base-transi);
}

.annexe_links a:hover::after {
  opacity: 1; 
}