/* --- installation polices NON google fonts --- */

/* --- SINERVA --- */
@font-face {
  font-family: 'sinervaregular';
  src: url('sinerva-webfont.woff2') format('woff2'),
       url('sinerva-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+E000-E03D; 
}

@font-face {
  font-family: 'sinervaregular';
  src: url('sinerva-webfont.woff2') format('woff2'),
       url('sinerva-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+E000-E03D; 
}

@font-face {
  font-family: 'sinervaregular';
  src: url('sinerva-webfont.woff2') format('woff2'),
       url('sinerva-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  unicode-range: U+E000-E03D; 
}