/* --- installation polices NON google fonts --- */

/* --- LAMORIC ROWEN --- */
@font-face {
  font-family: 'Lamoric Rowen Regular';
  src: url('LamoricRowen-8OOLB.woff') format('woff'), 
  url('lamoricrowen-8oolb.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  }

@font-face {
  font-family: 'Lamoric Rowen Regular';
  src: url('LamoricRowen-8OOLB.woff') format('woff'), 
  url('lamoricrowen-8oolb.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  }

@font-face {
  font-family: 'Lamoric Rowen Regular';
  src: url('LamoricRowen-8OOLB.woff') format('woff'), 
  url('lamoricrowen-8oolb.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  }