.mpbox .mp_chain{
    display: flex; align-items: center; font-size: var(--smallest); color: var(--textClr); margin-left:0.5rem;
    }
  .mpbox .mp_links{
    font-size:var(--small);
    color:var(--txtClr);
    }
    .mpbox .mp_links span{
      font-size: var(--small);
      background: var(--grad2);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      height: 1.6rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin: 0 3px;
  }
  .mpbox .mp_chain a{
      background: var(--baseClr2);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .mpbox .mp_chain a:hover{
      background: var(--accentClr);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
  .mpbox .container__title{
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: column;
      place-items: flex-start;
    }
  .mpbox .panel p {
      font-size: var(--small2);
      letter-spacing: 0.1rem;
      display: flex;
      gap: 10px;
      align-items: center;
  }
  
  .mpbox .button2{text-transform:uppercase !important;}
  
  .mpbox .links_bar{margin: 1rem 0 1rem 0;}
  .mpbox__nomsg{
      background: var(--baseClr-90);
      border-radius: var(--radius);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 1.5rem;
      width: 100%;
      font-size: var(--medium);
      text-transform: uppercase;
      font-weight: var(--semibold-fw);
  }
  .mpbox__status{
      font-size: var(--small);
      background: var(--grad1);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      height: 1.6rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin: 0 0.5rem;
      font-weight: var(--bold-fw);
      position: relative;
      top: -25px;
  }
  .mpbox__jumpbox .right{
      display: flex;
      gap: 5px;
      align-items: center;
  }
  
  .mpbox .links_bar2{
      margin: 1rem 0;
      font-size: var(--small2);
      text-transform: uppercase;
      font-weight: var(--semibold-fw);
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--baseClr-80);
      padding: 10px;
      border-radius: var(--radius);
  }
  .mpbox .topic-author{
      font-size: var(--small);
      text-transform: uppercase;
      display: flex;
      align-items: center;
      letter-spacing: 0.05rem;
      font-weight: var(--bold-fw);
      background: var(--grad1);
      background-size: 100%;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
  }
  .mpbox input[type="checkbox"]{accent-color: var(--baseClr3) !important; width: 8px;}
  .mpbox .topictitle{
      display: flex;
      gap: 10px;
  }
  .mpbox .topicslist_row{
      margin: 1rem 0;
      border-radius: var(--radius);
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      row-gap: 1rem;
  }
  .mpbox .ion-reply:before {
      content: "\f122";
      font-size: var(--smaller);
      display: flex;
      align-items: center;
      color:var(--accentClr);
  }

.mpbox .topicslist-lastpost {
    align-items: center; 
    justify-content: center; 
}

.mpbox .topicslist-lastpost .lastpost-in {
    margin: 0; 
    width: unset; 
    height: unset; 
}

.mpbox .lastpost a[href^="/u"] {
    font-size: var(--medium2); 
    font-weight: var(--semibold-fw); 
}

/* ------- AFFICHAGE D'UN MESSAGE PRIVE -------- */

.mpread .mp_chain{
    display: flex; align-items: center; font-size: var(--smallest); color: var(--textClr); margin-left:0.5rem;
    }
  .mpread .mp_links{
    font-size:var(--small);
    color:var(--txtClr);
    }
    .mpread .mp_links span{
      font-size: var(--small);
      background: var(--grad2);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      height: 1.6rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin: 0 3px;
  }
  .mpread .mp_chain a{
      background: var(--baseClr2);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .mpread .mp_chain a:hover{
      background: var(--accentClr);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
  .mpread .container__title {
      padding: 0.5rem 1rem;
      display: flex;
  }
  .mp_readtlel {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  .mp_readtler {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;
  }
  .mpread h1.page-title {
      max-width: 50rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      letter-spacing: 0.1rem;
      margin: 0 0.5rem;
    font-size:var(--bigger2) !important;
  }
  
  .mpread .links_bar2 {
      font-size: var(--small2);
      text-transform: uppercase;
      font-weight: var(--semibold-fw);
      display: flex;
      align-items: center;
      margin: 0 0.5rem;
  }
  
  .mpread .links_bar2 a, .mpread .links_bar2 input {
      position: relative;
      background: var(--bg2);
      padding: 0.5rem 1rem;
      border-radius: var(--small-radius);
      margin-right: 0.5rem;
      text-transform: uppercase;
      font-size: var(--small);
      font-weight: var(--semibold-fw);
  }
  .mpread__profil a, .mpread__profil input {
      position: relative;
      background-image: var(--bg1);
      padding: 0.5rem 1rem;
      border-radius: var(--small-radius);
      margin-right: 0.5rem;
      text-transform: uppercase;
      font-size: var(--small);
      background-color: var(--baseClr);
      box-shadow: var(--drop-shadow);
      font-weight: var(--semibold-fw);
      color:var(--textClr);
  }
  .mpread__profil a:hover, .mpread__profil input:hover{
    color:var(--accentClr);
   }
  .mpread__from{
      display: flex;
      align-items: center;
      font-size: var(--small);
      color: var(--textClr);
      position: relative;
      margin: 0 0.5rem;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
  }
  .mpread .container__post {
      background: var(--baseClr2-20);
      width: 81rem;
      border-radius: 0 1.6rem 1.6rem 0;
      display: flex;
      flex-direction: column;
  }
  .mpread .post_message.postbody.content {
      background: var(--baseClr);
      filter: var(--drop-shadow);
      margin: 0 2rem 2rem 2rem;
      font-size: var(--medium);
      line-height: var(--base-lh);
      padding: 2.5rem;
      min-height: unset !important;
      display: block !important;
      flex-direction: column;
      justify-content: space-between;
      flex: 100%;
  }
  
  .mpread__form .mpread__profil{
      justify-content: flex-end;
      display: flex;
      width: 100%;
    }
  .mpread .post_avatar{
      display: flex;
      flex-direction: column;
      padding: 2rem 1rem;
      width: 24.5rem;
      height: fit-content;
      border-radius: var(--radius);
      margin: auto;
  }
  .mpread .post_details{
      display: flex;
      justify-content: space-between;
      margin: 0 0 2rem 0;
  }
  .mpread .post {
      display: flex;
      margin: 1rem 0;
  }


  /* --- REVUE DU SUJET --- */
  .mpreview .panel {
    display: flex;
}

.mpreview__from {
    margin: 0 1.5rem 1rem 0 !important;
    text-transform: uppercase;
    font-size: var(--medium);
    font-weight: var(--semibold-fw);
    display: flex;
    justify-content: flex-end;
}

.mpreview .wrapped__messages .content {
    background: var(--baseClr);
    filter: var(--drop-shadow);
    font-size: var(--medium);
    line-height: var(--base-lh);
    padding: 2.5rem;
    min-height: unset !important;
    flex: 100%;
    margin: 0 1rem !important; 
}

.mpreview .mini_img img{
  border-radius:var(--radius);
  margin: 0 0 0 1rem;
}

.mpreview .postbody{
width:100%;
}

/* POSTING BOX */
#postingbox:has(select[name="usergroup"]) .fields1 {
    max-width: 108rem !important; 
}

#postingbox:has(select[name="usergroup"]) .fields1 dl:first-of-type {
    display: flex !important; 
    align-items: center !important; 
}

#postingbox:has(select[name="usergroup"]) .fields1 dl:first-of-type dt label {
    padding-right: 4rem; 
}

#postingbox:has(select[name="usergroup"]) .fields1 dl:first-of-type dd input {
    width: 55rem !important; 
}

#postingbox:has(select[name="usergroup"]) select[name="usergroup"] {
    width: 19.2rem; 
}

/* RECHERCHE PERSONNAGE */
#find_username { 
    position: absolute; 
    top: 50vh; 
    right: 5rem; 
    background: var(--baseClr-90); 
    width: 35rem;  
    border-radius: var(--radius); 
}

#find_username h1 {
    font-size: var(--bigger); 
    text-align: center; 
    margin-left: 0 !important; 
}

#find_username .inner .inputbox.tiny {
    width: 100%; 
}

#find_username .panel {
    padding-bottom: 0 !important; 
}

#find_username .inner {
    gap: 1rem; 
}

#find_username .right-box {
    align-self: flex-end; 
}