/* ----------------------------------------- */
/* ---------- PAGE PROFIL ------------------ */

/* --- SUMMARY DES CHAMPS : 
HEADER
#field_id5 = faceclaim, 
#field_id2 = image gauche, #field_id3 = image gauche, #field_id4 = image droite, 
#field_id-12 = date de naissance, #field_id-5 = âge */

.container__profile {
    background: var(--baseClr2-20); 
    height: 48rem; 
    border-radius: var(--radius); 
    padding: 1rem; 
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
}

.container__profile .field_content {
    font-size: var(--medium); 
}

.container__profile .profile__footer {
    display: none; 
}

/* ----------------------------------- */
/* --- HEADER --- */
.profile__header {
    height: 7rem; 
    border-radius: var(--radius); 
    padding: 1rem; 
}

/* --- NOM ET RANG --- */
/* --- remise à 0 du rang --- */
.profile__header .rank, 
.profile__header .rank__cont, 
.profile__header .rank__cont::before, 
.profile__header .rank__cont::after {
    all: unset; 
}

.profile__header .profile__title, 
.profile__header .profile__rank {
    width: 50%; 
    height: 2.5rem; 
    text-transform: uppercase; 
    font-family: var(--font2); 
    font-weight: var(--semibold-fw);
    font-size: var(--bigger2); 
    margin-top: 1rem; 
}

.profile__header .profile__rank {
    text-align: right; 
}

/* --- champs du header : fc, dob/age, images, liens --- */
.profile__header .profile_headerin {
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-between;
    align-items:  center;
}

.profile__header .field_label {
    display: none; 
}

.profile__header .headerfields {
    width: 39.7rem;
    display: flex;
    flex-wrap: wrap;
}

.profile__header .fieldsin {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--small2);
    margin-bottom: 1rem;
}

/* --- fc (id5), dob (id-12) et âge (id-5) --- */
.profile__header .fieldsin #field_id5, 
.profile__header .fieldsin #field_id-12, 
.profile__header .fieldsin #field_id-5 {
    display: flex;  
}

.profile__header .fieldsin #field_id5, 
.profile__header .fieldsin #field_id-12, 
.profile__header .fieldsin #field_id-5 {
    white-space: nowrap;  
}

.profile__header .fieldsin #field_id5 .field_content .field_uneditable {
    max-width: 18rem; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.profile__header .fieldsin #field_id5::before, 
.profile__header .fieldsin #field_id-12::before {
    content: "incarné par"; 
    padding-right: 0.3rem; 
    font-style: italic; 
}

/* fc */
.profile__header .fieldsin #field_id5::before {
    content: "incarné par"; 
}

/* dob */
.profile__header .fieldsin #field_id-12::before {
    content: "né(e) le"; 
}

/* age */
.profile__header .fieldsin #field_id-5::before {content: "("; padding-left: 0.3rem;}
.profile__header .fieldsin #field_id-5::after {content: "ans)"; padding-left: 0.3rem;}

.profile__header .fieldsin #field_id5 .field_content, .profile__header .fieldsin #field_id-12 .field_content {
    font-weight: var(--bold-fw); 
    font-size: var(--small2); 
}

/* --- A SUPPRIMER --- */
.profile__header #field_id-4 {
    display: none; 
}

/* --- images --- */
.profile__header .headerimages {
    display: flex;
    gap: 1rem;
}

.profile__header .headerimages img {
    border-radius: 100%; 
    object-fit: cover; 
    height: 5rem;
    width: 5rem;  
}

/* --- liens --- */
.profile__header .profile__links {
    height: 5rem; 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
}

/* général */
.profile__header .profile__topicslink, 
.profile__header .profile__msgslink, 
.profile__header .profile__misclinks {
    background: var(--baseClr); 
    width: 19.8rem; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: var(--medium); 
    font-weight: var(--semibold-fw); 
    text-transform: uppercase; 
}

/* --- sujets --- */
.profile__header .profile__topicslink {
    height: 2.4rem; 
    margin-bottom: 1px;  
    border-radius: var(--radius) 0 0 0; 
}

/* --- messages --- */
.profile__header .profile__msgslink {
    height: 2.5rem; 
    border-radius: 0 0 0 var(--radius); 
}

/* --- autres liens --- */
.profile__header .profile__misclinks {
    margin-left: 1px; 
    height: 10rem; 
    border-radius: 0 var(--radius) var(--radius) 0; 
    font-size: var(--big) !important; 
}

.profile__header .profile__misclinks a {
    padding: 0.5rem; 
}

/* email invisible */
.profile__header .profile__misclinks #field_id:nth-child(2) {
    display: none; 
}

/* ----------------------------------- */
/* --- MAIN --- */
.profile__main {
  height: 38rem;
  border-radius: var(--radius);
  padding: 1rem;
  display: flex; 
  gap: 1rem; 
}

/* général */
.profile__charin, .profile__player {
    background: var(--baseClr-90); 
    border-radius: var(--radius); 
}

.profile__char, .profile__player {
    height: 36rem !important; 
    width: 39.7rem !important; 
}

/* --- BLOCS PERSONNAGE ET JOUEUR (gauche et droite) --- */

/* --- CHAMPS DU BLOC PERSONNAGE INTERNE (profile__charin charin-overflow) : 
#field_id15 = autre(s) nom(s), 
#field_id16 = identité, 
#field_id17 = astrologie, 
#field_id28 = occupation, 
#field_id18 = signe(s) distinctif(s), 
#field_id19 = possessions, 
#field_id20 = infos diverses

CHAMP MESSAGES : #field_id-6 = messages, 
CHAMP AURAS : #field_id-13 = auras, 
CHAMP DIALOGUES : #field_id14 = dialogues 

/* --- CHAMPS DU BLOC JOUEUR INTERNE (profile__player player-overflow) : 
#field_id1 = joueur, 
#field_id11 = pronoms, 
#field_id12 = crédits,
#field_id13 = tw/cw,
#field_id21 = multicomptes,
#field_id22 = présence,
#field_id23 = disponibilité,
#field_id24 = gameplay,
#field_id-20 = commentaire */

.profile__char {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.profile__charin, .profile__powers, .profile__more {
    height: 29.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__player {
    display: flex; 
    justify-content: center; 
    padding: 1.4rem 0; 
}

.charin-overflow, .player-overflow, .powers-overflow, .more-overflow {
    height: 90%;
    width: 95%;
    overflow: auto;
    overflow-x: hidden;
    padding-right: 1rem;
}

.player-overflow {
    height: 100% !important; 
}

/* --- CHAMPS PERSONNAGE ET JOUEUR --- */
.profile__char .profile__charin .field_content, 
.profile__player .field_content, 
.profile__footer .field_content {
    text-align: justify !important; 
}

.profile__char .profile__charin .field_label, 
.profile__player .field_label, 
.profile__footer .field_label {
    color: var(--accentClr);  
    font-size: var(--medium); 
    font-weight: var(--semibold-fw); 
    text-transform: uppercase; 
    display: flex;  
    align-items: center; 
    white-space: nowrap;  
    justify-content: space-between; 
}

.profile__char .charin-overflow .field_label::after, 
.profile__player .player-overflow .field_label::after, 
.profile__footer .powers-overflow .field_label::after, 
.profile__footer .more-overflow .field_label::after {
    display: inline-block; 
    content: ""; 
    height: 1px; 
    width: 100%; 
    background: var(--accentClr); 
    margin-left: 1rem; 
    opacity: 0.5; 
}

.profile__char .charin-overflow .field_content, 
.profile__player .player-overflow .field_content:not(#field_id11 .field_content),
.profile__footer .powers-overflow .field_content,
.profile__footer .more-overflow .field_content {
    padding: 0.5rem 0 1.5rem 0;
}

/* champ PSEUDO (#field_id1) et PRONOMS JOUEUR (#field_id11) */
.profile__player #field_id11 .field_label {
    display: none; 
}

.profile__player #field_id1 .field_content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    font-family: var(--font2); 
    text-transform: uppercase; 
    font-size: var(--bigger2); 
    font-weight: var(--bold-fw); 
}

.profile__player #field_id11 .field_content {
    font-family: var(--font1) !important; 
    text-transform: lowercase !important; 
    font-size: var(--medium) !important; 
    font-weight: var(--base-fw) !important; 
}

/* --- MESSAGES, AURAS ET DIALOGUES --- */
.profile__char .profile__messages, 
.profile__char .profile__auras {
    width: 11rem; 
}

.profile__char .profile__dialogues {
    width: 15.7rem; 
}

.profile__char .profile__messages, 
.profile__char .profile__auras, 
.profile__char .profile__dialogues {
    height: 5.5rem;
    background: var(--baseClr-90);
    border-radius: var(--radius);
    display: flex;
}

.profile__char .profile__messages .profile_field, 
.profile__char .profile__auras .profile_field, 
.profile__char .profile__dialogues .profile_field {
    display: flex; 
    flex-direction: column-reverse;  
    width: 100%; 
}

/* labels */
.profile__char .profile__messages .profile_field .field_label, 
.profile__char .profile__auras .profile_field .field_label, 
.profile__char .profile__dialogues .profile_field .field_label {
    font-size: var(--small);
    text-transform: uppercase;
    font-weight: var(--bold-fw);
    text-align: right;
    height: 1.2rem;  
    margin: 0 1rem 0.3rem 0; 
    background: var(--grad1);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* contents */
.profile__char .profile__messages .profile_field .field_content, 
.profile__char .profile__auras .profile_field .field_content {
    font-size: var(--bigger3); 
    font-family: var(--font2); 
    color: var(--accentClr); 
    height: 2.6rem; 
    margin: 0 0 0.4rem 1rem; 
}

.profile__char .profile__dialogues .profile_field .field_content {
    height: 100%; 
    margin: 0.8rem 0.8rem 0 1rem; 
    overflow: auto; 
    line-height: var(--small-lh); 
    display: flex; 
    align-items: center; 
}

/* --- milieu : AVATAR --- */
.profile__main .profil_avatar img {
    border-radius: var(--radius); 
    object-fit: cover; 
}

/* ----------------------------------------------------- */
/* ------------ FOOTER ONLY FOR AWOKEN ---------------- */

/* --- CHAMPS : 
#field_id25 = pouvoirs, 
#field_id26 = catalyseur, 
#field_id27 = forme démoniaque */

/* fonctionnement */
.container__profile:has(#field_id25), 
.container__profile:has(#field_id26), 
.container__profile:has(#field_id27) {
    height: 65rem; 
}

.container__profile:has(#field_id25) .profile__footer, 
.container__profile:has(#field_id26) .profile__footer, 
.container__profile:has(#field_id27) .profile__footer {
    display: flex; 
    height: 16rem; 
    border-radius: var(--radius); 
    align-items: center; 
    justify-content: center; 
    gap: 1rem; 
}

.profile__footer .profile__powers, 
.profile__footer .profile__more {
    height: 14rem; 
    background: var(--baseClr-90); 
    border-radius: var(--radius); 
}

/* --- POUVOIRS --- */
.profile__footer .profile__powers {
    width: 63.2rem; 
}

.profile__footer .profile__more {
    width: 39.7rem; 
}

/* --------------------- */
/* --- style des profils --- */
.container__profile .profile_field strong, 
.post_userinfo .user_field strong {
    font-weight: var(--bold-fw); 
    background: var(--grad1); 
    background-size: 100% !important; 
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.container__profile .profile_field u,
.post_userinfo .user_field u {
    text-decoration: none; 
    font-weight: var(--semibold-fw); 
    background: var(--grad2); 
    background-size: 100% !important; 
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.container__profile .profile_field strike,
.post_userinfo .user_field strike {
    text-decoration: none; 
    font-weight: var(--semibold-fw); 
    color: var(--accentClr2); 
}

/* -- titres -- */
.container__profile .profile_field h2, 
.post_userinfo .user_field h2, 
.container__profile .profile_field  h3,
.post_userinfo .user_field h3, 
.container__profile .profile_field h4, 
.post_userinfo .user_field h4 {
    all: unset; 
    background-size: 100%; 
    -webkit-background-clip: unset !important;
    -webkit-text-fill-color: unset !important;
    font-size: var(--medium) !important; 
    font-weight: var(--semibold-fw); 
}

.container__profile .profile_field h2, 
.post_userinfo .user_field h2 {
    font-family: var(--font2); 
    text-transform: uppercase; 
    
}

.container__profile .profile_field h3, 
.post_userinfo .user_field h3 {
    background: var(--bg2);
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

.container__profile .profile_field h4, 
.post_userinfo .user_field h4 {
    background: var(--grad2Op) !important;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    color: var(--accentClr); 
}