/* --- ROOT (BASE DU FORUM) --- */
/* --- MODE CLAIR --- */
:root {
  font-size: 62.5%; /* default = 10px = 1rem */
  --body: url('https://images2.imgbox.com/40/be/TbgzkXat_o.png'); /* fond du forum */
  --header: url('https://i.imgur.com/Z9yNw2I.png'); /* bannière du forum */

  /* palette de base */
  --baseClr: #F5FCF1; /* couleur 1 */
  --baseClr-RGB: rgb(245, 252, 241); 
  --baseClr-90: rgba(245, 252, 241, 0.9); /* 90% opacité */
  --baseClr-70: rgba(245, 252, 241, 0.7); /* 70% opacité */

  --baseClr2: #64A970; /* couleur 2 */
  --baseClr2-RGB: rgb(100, 169, 112); 
  --baseClr2-20: rgba(100, 169, 112, 0.2); /* 20% d'opacité */

  --baseClr3: #769E71; /* couleur 3 */
  --baseClr3-RGB: rgb(118, 158, 113); 
  --baseClr3-80: rgba(118, 158, 113, 0.8); /* 80% opacité */
  --baseClr3-60: rgba(118, 158, 113, 0.6); /* 60% opacité */
  --baseClr3-40: rgba(118, 158, 113, 0.4); /* 40% opacité */
  --baseClr3-20: rgba(118, 158, 113, 0.2); /* 20% opacité */ 

  --accentClr: #85692E; /* couleur d'accent 1 */
  --accentClr-RGB: rgb(133, 105, 46);
  --accentClr2: #862631; /* couleur d'accent 2 (rare) */
  --accentClr2-RGB: rgb(134, 38, 49); 

  --textClr: #587D4F; /* couleur de texte */
  --textClr-RGB: rgb(88, 125, 79); 

  /* couleurs supplémentaires diverses (gradients) */
  --gradClr1: #C7B97B; 
  --gradClr1-RGB: rgb(199, 185, 123); 

  /* couleur de gradient spécifique au light theme (NE PAS LES UTILISER SEULES) */
  --gradClr3: #507446; 
  --gradClr3-RGB: rgb(80, 116, 70); 
  --gradClr4: #769E71; 
  --gradClr4-RGB: rgb(118, 158, 113); 

  /* gradients */
  --bg1: linear-gradient(to bottom, rgba(100, 139, 90, 0.6), transparent); /* textClr 60% opacité > transparent (fond) */
  --bg2: linear-gradient(to bottom, rgba(100, 169, 112, 0.3), rgba(118, 158, 113, 0.1)); /* baseClr2 30% opacité > baseClr3 10% opacité (fond) */

  --grad1: linear-gradient(to right, var(--gradClr3), var(--gradClr4)); /* gradient 2 couleurs */
  --grad2: linear-gradient(to right, var(--accentClr), var(--gradClr1), var(--accentClr)); /* gradient métallisé */

  /* --- borders & misc --- */
  --small-radius: 0.8rem; /* arrondi léger | 0.8rem = 8px */
  --radius: 1.6rem; /* arrondi principal | 1.6rem = 16px */ 
  --big-radius: 2.4rem; /* arrondi fort | 2.4rem = 24px */
  --base-transi: all 0.3s ease-in-out; /* transition pour animations diverses */ 
  --slow-transi: all 0.5s ease-in-out; /* même transition, mais plus lente */ 

  /* --- polices --- */
  --font1: 'Montserrat', 'Arial', sans-serif; /* police principale du forum */
  --font2: 'Sinerva', 'Times new roman', serif; /* police de titres */
  --font3: 'Playfair display', 'Palatino', serif; /* police spéciale */

  /* --- tailles --- */
  --smallest: 0.8rem; /* 8 px */
  --smaller: 0.9rem; /* 9 px */
  --small: 1rem; /* 10 px */
  --small2: 1.1rem; /* 11 px */
  --medium: 1.2rem; /* 12 px */
  --medium2: 1.4rem; /* 14 px */
  --big: 1.6rem; /* 16 px */
  --bigger: 1.8rem; /* 18px */
  --bigger2: 2rem; /* 20 px */
  --biggest: 2.4rem; /* 24 px */

  /* --- effets --- */
  --semibold-fw: 600; 
  --base-fw: 400; 
  --bold-fw: 700; 

  /* --- VARIABLES MESSENGER --- */
  --FAM-windowSize: 88rem; /* 880px */

  --FAM-light: #FFF; 
  --FAM-dark: #000; 

  /* --- palette --- */
  --FAM-pluginBackground: var(); /* fond du messenger */
  --FAM-chatBackground: var(); /* fond de la fenêtre de chat */ 
  --FAM-textAreaBackground: var(); /* fond de la boîte de texte */
  --FAM-msgBackground: var(); /* fond des messages reçus */
  --FAM-myMsgBackground: var(); /* fond des messages envoyés */
  --FAM-quoteBackground: var(); /* fond des citations */
  --FAM-sleepModeBackground: rgba(0, 0, 0, 0.5); /* fond du mode veille */ 

  --FAM-contrast: var(); 
  --FAM-accentClr: var(); 
  --FAM-textClr: var(); 
  --FAM-linkClr: var(); 
  --FAM-titleClr: var(); 
  --FAM-button: var(); 
  --FAM-buttonClr: var(); 

  /* --- gradients --- */

  /* polices et tailles */
  --FAM-fontSize: 1.2rem;  
  --FAM-titleSize: 2.4rem; 
  --FAM-titleFont: 'Montserrat', 'Arial', sans-serif; 

  /* --- borders et utilitaires --- */
  --FAM-border: /* code */; 
  --FAM-radius: /* code */; 
  --FAM-shadow: /* code */;  
}

/* --- MODE SOMBRE --- */ 
[data-color-scheme="dark"] {
  font-size: 62.5%; /* default = 10px = 1rem */
  --body: url('https://images2.imgbox.com/5a/b2/fSu7G9Gj_o.png'); /* fond */
  --header: url('https://i.imgur.com/QpEBkhL.png'); /* bannière */

  /* palette de base */
  --baseClr: #06070F; /* couleur 1 */
  --baseClr-RGB: rgb(6, 7, 15); 
  --baseClr-90: rgba(6, 7, 15, 0.9); /* 90% opacité */
  --baseClr-70: rgba(6, 7, 15, 0.7); /* 90% opacité */

  --baseClr2: #4B59A5; /* couleur 2 */
  --baseClr2-RGB: rgb(75, 89, 165); 

  --baseClr3: #465399; /* couleur 3 */
  --baseClr3-RGB: rgb(70, 83, 153); 
  --baseClr3-80: rgba(70, 83, 153, 0.8); /* 80% opacité */
  --baseClr3-60: rgba(70, 83, 153, 0.6); /* 60% opacité */
  --baseClr3-40: rgba(70, 83, 153, 0.4); /* 40% opacité */
  --baseClr3-20: rgba(70, 83, 153, 0.2); /* 20% opacité */

  --accentClr: #B4B34F; /* couleur d'accent */
  --accentClr-RGB: rgb(180, 179, 79); 
  --accentClr2: #318388; /* couleur d'accent 2 (rare) */
  --accentClr2-RGB: rgb(49, 131, 136); 

  --textClr: #8897E9; /* couleur de texte */
  --textClr-RGB: rgb(117, 134, 227); 

  /* couleurs supplémentaires diverses (gradients) */
  --gradClr1: #5E5B32; 
  --gradClr1-RGB: rgb(94, 91, 50); 

  /* gradients */
  --bg1: linear-gradient(to bottom, rgba(117, 134, 227, 0.6), transparent); /* textClr 60% opacité > transparent (fond) */
  --bg2: linear-gradient(to bottom, rgba(117, 134, 227, 0.3), rgba(70, 83, 153, 0.1)); /* textClr 30% opacité > baseClr3 10% opacité (fond) */

  --grad1: linear-gradient(to right, var(--baseClr2), var(--textClr), var(--baseClr2)); /* gradient métallisé */
  --grad2: linear-gradient(to right, var(--gradClr1), var(--accentClr)); /* gradient 2 couleurs */
}

/* ------------------------------------ */

/* --- généralités --- */
*, body, div {
  box-sizing: border-box; 
}

/* --- BODY (TOUTES LES PAGES) --- */
body {
  font-size: 1.6rem; /* 16px par défaut */
  font-family: var(--font1); 
  margin: 0 !important; 
  overflow-x: hidden; 
  background: var(--body) fixed center; 
  background-size: cover; 
  color: var(--textClr); 
}

.main_forum {
  width: 108rem; /* 1080px */
  margin: auto; 
}

/* --- SCROLLBAR (chrome) --- */ 
::-webkit-scrollbar {/* code */}
::-webkit-scrollbar-track {/* code */}
::-webkit-scrollbar-thumb {/* code */}

/* réduction taille des emojis forumactif */ 
.emojione {
  width: 18px !important; 
}

hr {
  /* code */
}

/* --- liens et textes --- */ 
/* styles de texte */
b, strong {/* code */}
i {/* code */}
u {/* code */}
strike {/* code */}

h1 {
  /* généralité pour les titres principaux */
}

h1.page-title {
  /* code spécifique du h1 de la page principale */
}

h1, h1.page-title {
  /* code pour les titres principaux */
}

h2 {
  /* titres secondaires */
}

h3 {
  /* sous-titres */
}

h4, h5, h6 {
  /* sous-titres très secondaires (du plus important au moins important) */
}

p {
  margin: 0; 
}

a {
  text-decoration: none; 
  color: var(--accentClr); 
  transition: var(--base-transi); 
}

a:hover {
  color: var(--accentClr2); 
  transition: var(--base-transi); 
}

/* blocs de texte */
blockquote div {
  /* code */
}

/* balises code, spoiler, hide, cite */ 
/* CODE */
.codebox {
  /* code */
}

.codebox dd {
  /* code */
}

.codebox code {
  /* code */
}

/* "copier" */
.copycode {
  /* code */
}

/* SPOILER */
.hidebox.spoiler {
  /* code */
}

/* fermé */ .spoiler_content {display: none;}
/* ouvert */ .spoiler_content.hidden {display: block;}

/* CITER "NOM" */
blockquote cite {/* code */}
blockquote cite a {/* code */}

/* HIDE */
.codebox.hidecode dd {/* code */}

/* tag */
.mentiontag {/* code */}

/* CLASSES UTILITAIRES VARIEES */ 
/* fix hauteur forum (#top button) */
#top {
  top: -10rem;
  position: relative;
}

/* ---------------- FIN GENERALITES -------------------- */

/* --- HEADER (BANNIERE ET HAUT DE PAGE) --- */
#header {
  background: var(--header);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 10rem 0 5rem 0; 
  height: 60rem; 
}

/* --- NAVIGATION --- */
.navbar, .footerbar {
  height: 4.5rem; 
  width: 100%; 
  background: var(--baseClr-90); 
  position: fixed; 
  z-index: 999; 
  left: 0; 
}

/* --- NAVBAR ET FOOTERBAR --- */
/* --- navbar (top) --- */
.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 2rem; 
  top: 0; 
}

.navbar ul {
  display: flex; 
}

/* liens inutilisés de la navbar */
.navbar li:nth-child(2), .navbar li:nth-child(3), .navbar li:nth-child(4) {
  display: none; 
}

a.mainmenu, .footerbar a {
  font-size: var(--medium2);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--textClr); 
}

a.mainmenu:hover, .footerbar a:hover {
  color: var(--accentClr); 
}

/* --- footerbar (bottom) --- */
.footerbar {
  bottom: 0;
  display: flex;
  justify-content: right; 
  align-items: center;
}

.footerbar, .footerbar a {
  font-size: var(--smaller); 
}

#page-footer {
  min-width: 65rem; 
  max-width: 100rem; 
  margin-right: 2rem; 
  color: var(--baseClr2); 
}

/* --- BOUTONS FOOTERBAR --- */
.footerbar_buttons {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* --- boutons switch de thème et up/down --- */
@media (prefers-color-scheme: dark) {
	.color-scheme-toggle .dark {
		display: none;
	}
}
@media (prefers-color-scheme: light) {
	.color-scheme-toggle .light {
		display: none;
	}
}
.color-scheme-toggle,
[data-color-scheme="light"] .color-scheme-toggle .dark,
[data-color-scheme="dark"] .color-scheme-toggle .light {
	display: block;
	width: 100%;
}

[data-color-scheme="dark"] .color-scheme-toggle .dark,
[data-color-scheme="light"] .color-scheme-toggle .light {
	display: none;
}

.color-scheme-toggle, .footerbar_buttons a {
	background-color: var(--baseClr3-20);
	color: var(--textClr);
  display: flex; 
  align-items: center; 
  transition: var(--base-transi); 
  width: 3rem; 
  height: 3rem; 
}

.color-scheme-toggle {
  font-size: var(--medium2); 
}

.footerbar_buttons a {
  margin: 0 0.1rem; 
  display: flex; 
  justify-content: center; 
  font-size: var(--small); 
}

.color-scheme-toggle:hover, .footerbar_buttons a:hover {
	color: var(--accentClr);
  background: var(--baseClr3-40); 
  transition: var(--base-transi);
}

.footerbar_buttons a[href="#top"] {
  border-radius: 0.8rem 0 0 0.8rem; 
}

.footerbar_buttons a[href="#bottom"] {
  border-radius: 0 0.8rem 0.8rem 0; 
}

/* "panneau d'administration" */
.adminlink {
  padding-right: 0.4rem; 
  color: var(--accentClr); 
}

.adminlink::after {
  content: " |"; 
}

.adminlink a {
  color: var(--accentClr) !important;
}

.adminlink a:hover {
  color: var(--accentClr2) !important; 
}

/* couleur des liens de bas de page */
.right a {
  color: var(--baseClr2); 
}

/* --- SIDEBAR : css externe (voir overall_header) --- */
/* --- SWITCHEROO : css externe (voir overall_header) --- */
/* ------------------------------------ */

/* --- TOOLBAR ET MENU D'ACCUEIL FORUMACTIF --- */
#fa_left {display: none;} /* suppression logo fa */

/* conteneur menu welcome */
#fa_menulist {
  /* code */
}

/* contenu menu welcome et liste des notifications */
ul#fa_menulist, ul#notif_list {
  /* code */
}

/* notifications */
#fa_notif_list {
  /* code */
}

/* popup notifications */
#fa_toolbar #live_notif {
  /* code */
}

#fa_toolbar #live_notif .fa_notification {
  /* code */
}
/* ------------------------------------ */

/* --- PA : css externe (voir overall_header) --- */
/* ------------------------------------ */

/* --- CATEGORIES (index_box) --- */

/* ici, tout le code concernant les catégories et leur affichage */ 
/* ------------------------------------ */

/* --- QEEL | QUI EST EN LIGNE (index_body) --- */

/* ici, tout le code concernant le qeel et son affichage */ 
/* ------------------------------------ */

/* --- FOOTER (overall_footer_end) --- */

/* ici, tout le code concernant le bas de page ainsi que les petits détails de la page d'accueil */
/* ------------------------------------ */

/* ------------------------------------ */
/* --- PAGE LISTE DES SUJETS --- */
/* ------------------------------------ */

/* --- PAGE SUJETS SURVEILLES --- */
/* ------------------------------------ */

/* --- PAGE MESSAGES --- */
/* ------------------------------------ */

/* --- PAGE POSTER UN MESSAGE | BOITE DE TEXTE --- */
/* ------------------------------------ */

/* --- PAGE MESSAGES PRIVES --- */
/* ------------------------------------ */

/* ------------------------------------ */
/* --- PAGE DE PROFIL --- */
/* ------------------------------------ */

/* --- PAGE LISTE DES MEMBRES --- */
/* ------------------------------------ */

/* --- PAGE DES GROUPES --- */
/* ------------------------------------ */

/* ------------------------------------ */
/* --- DIVERS --- */