/* --- ROOT (BASE DU FORUM) --- */
/* --- MODE CLAIR --- */
:root {
  font-size: 62.5%; /* default = 10px = 1rem */
  --body: url('https://i.imgur.com/3AW0kt1.png'); /* fond du forum */
  --header: url('https://i.imgur.com/40jOgFC.png'); /* bannière du forum */
  --bhavatar: url('https://i.imgur.com/29ucVBL.png'); /* avatar du compte byeonhwa */

  /* palette de base */
  --baseClr: #F5FCF1; /* couleur 1 */
  --baseClr-RGB: rgb(245, 252, 241); 
  --baseClr-90: rgba(245, 252, 241, 0.9); /* 90% opacité */
  --baseClr-70: rgba(245, 252, 241, 0.7); /* 70% opacité */

  --baseClr2: #64A970; /* couleur 2 */
  --baseClr2-RGB: rgb(100, 169, 112); 
  --baseClr2-20:rgba(100, 169, 112, 0.2); /* 20% opacité */

  --baseClr3: #769E71; /* couleur 3 */
  --baseClr3-RGB: rgb(118, 158, 113); 
  --baseClr3-80: rgba(118, 158, 113, 0.8); /* 80% opacité */
  --baseClr3-60: rgba(118, 158, 113, 0.6); /* 60% opacité */
  --baseClr3-40: rgba(118, 158, 113, 0.4); /* 40% opacité */
  --baseClr3-20: rgba(118, 158, 113, 0.2); /* 20% opacité */ 
  --baseClr3-10: rgba(118, 158, 113, 0.1); /* 10% opacité */ 

  --accentClr: #85692E; /* couleur d'accent 1 */
  --accentClr-RGB: rgb(133, 105, 46);
  --accentClr2: #862631; /* couleur d'accent 2 (rare) */
  --accentClr2-RGB: rgb(134, 38, 49); 

  --textClr: #587D4F; /* couleur de texte */
  --textClr-RGB: rgb(88, 125, 79); 

  /* couleurs supplémentaires diverses (gradients) */
  --gradClr1: #C7B97B; 
  --gradClr1-RGB: rgb(199, 185, 123); 

  /* couleur de gradient spécifique au light theme (NE PAS LES UTILISER SEULES) */
  --gradClr3: #507446; 
  --gradClr3-RGB: rgb(80, 116, 70); 
  --gradClr4: #769E71; 
  --gradClr4-RGB: rgb(118, 158, 113); 

  /* gradients */
  --bg1: linear-gradient(to bottom, rgba(100, 139, 90, 0.6), transparent); /* textClr 60% opacité > transparent (fond) */
  --bg2: linear-gradient(to bottom, rgba(100, 169, 112, 0.3), rgba(118, 158, 113, 0.1)); /* baseClr2 30% opacité > baseClr3 10% opacité (fond) */

  --grad1: linear-gradient(to right, var(--gradClr3), var(--gradClr4)); /* gradient 2 couleurs */
  --grad2: linear-gradient(to right, var(--accentClr), var(--gradClr1), var(--accentClr)); /* gradient métallisé */

  /* --- borders & misc --- */
  --small-radius: 0.8rem; /* arrondi léger | 0.8rem = 8px */
  --radius: 1.6rem; /* arrondi principal | 1.6rem = 16px */ 
  --big-radius: 2.4rem; /* arrondi fort | 2.4rem = 24px */
  --base-transi: all 0.3s ease-in-out; /* transition pour animations diverses */ 
  --slow-transi: all 0.5s ease-in-out; /* même transition, mais plus lente */ 

  --drop-shadow: drop-shadow(0px 0px 8px var(--baseClr3-10));

  /* --- polices --- */
  --font1: 'Montserrat', 'Arial', sans-serif; /* police principale du forum */
  --font2: 'sinervaregular', 'Times new roman', serif; /* police de titres */
  --font3: 'Playfair display', 'Palatino', serif; /* police spéciale */

  /* --- tailles --- */
  --smallest: 0.8rem; /* 8 px */
  --smaller: 0.9rem; /* 9 px */
  --small: 1rem; /* 10 px */
  --small2: 1.1rem; /* 11 px */
  --medium: 1.2rem; /* 12 px */
  --medium2: 1.4rem; /* 14 px */
  --big: 1.6rem; /* 16 px */
  --bigger: 1.8rem; /* 18px */
  --bigger2: 2rem; /* 20 px */
  --biggest: 2.4rem; /* 24 px */

  /* --- effets --- */
  --semibold-fw: 600; 
  --base-fw: 500; 
  --bold-fw: 700; 

  /* --- espacements des caractères --- */
  --small-lh: 1.3; 
  --base-lh: 1.5; 

  /* --- VARIABLES MESSENGER --- */
  --FAM-windowSize: 88rem; /* 880px */

  --FAM-light: #FFF; 
  --FAM-dark: #000; 

  /* --- palette --- */
  --FAM-pluginBackground: var(); /* fond du messenger */
  --FAM-chatBackground: var(); /* fond de la fenêtre de chat */ 
  --FAM-textAreaBackground: var(); /* fond de la boîte de texte */
  --FAM-msgBackground: var(); /* fond des messages reçus */
  --FAM-myMsgBackground: var(); /* fond des messages envoyés */
  --FAM-quoteBackground: var(); /* fond des citations */
  --FAM-sleepModeBackground: rgba(0, 0, 0, 0.5); /* fond du mode veille */ 

  --FAM-contrast: var(); 
  --FAM-accentClr: var(); 
  --FAM-textClr: var(); 
  --FAM-linkClr: var(); 
  --FAM-titleClr: var(); 
  --FAM-button: var(); 
  --FAM-buttonClr: var(); 

  /* --- gradients --- */

  /* polices et tailles */
  --FAM-fontSize: 1.2rem;  
  --FAM-titleSize: 2.4rem; 
  --FAM-titleFont: 'Montserrat', 'Arial', sans-serif; 

  /* --- borders et utilitaires --- */
  --FAM-border: /* code */; 
  --FAM-radius: /* code */; 
  --FAM-shadow: /* code */;  
}

/* --- MODE SOMBRE --- */ 
[data-color-scheme="dark"] {
  font-size: 62.5%; /* default = 10px = 1rem */
  --body: url('https://i.imgur.com/BsFKZgm.png'); /* fond */
  --header: url('https://i.imgur.com/k1eLxlG.png'); /* bannière */
  --bhavatar: url('https://i.imgur.com/3JwTGSH.png'); /* avatar du compte byeonhwa */

  /* palette de base */
  --baseClr: #06070F; /* couleur 1 */
  --baseClr-RGB: rgb(6, 7, 15); 
  --baseClr-90: rgba(6, 7, 15, 0.9); /* 90% opacité */
  --baseClr-70: rgba(6, 7, 15, 0.7); /* 90% opacité */

  --baseClr2: #4B59A5; /* couleur 2 */
  --baseClr2-RGB: rgb(75, 89, 165); 
  --baseClr2-20: rgba(75, 89, 165, 0.2); /* 20% opacité */

  --baseClr3: #465399; /* couleur 3 */
  --baseClr3-RGB: rgb(70, 83, 153); 
  --baseClr3-80: rgba(70, 83, 153, 0.8); /* 80% opacité */
  --baseClr3-60: rgba(70, 83, 153, 0.6); /* 60% opacité */
  --baseClr3-40: rgba(70, 83, 153, 0.4); /* 40% opacité */
  --baseClr3-20: rgba(70, 83, 153, 0.2); /* 20% opacité */
  --baseClr3-10: rgba(70, 83, 153, 0.1); /* 10% opacité */

  --accentClr: #B4B34F; /* couleur d'accent */
  --accentClr-RGB: rgb(180, 179, 79); 
  --accentClr2: #318388; /* couleur d'accent 2 (rare) */
  --accentClr2-RGB: rgb(49, 131, 136); 

  --textClr: #8897E9; /* couleur de texte */
  --textClr-RGB: rgb(117, 134, 227); 

  /* couleurs supplémentaires diverses (gradients) */
  --gradClr1: #5E5B32; 
  --gradClr1-RGB: rgb(94, 91, 50); 

  /* gradients */
  --bg1: linear-gradient(to bottom, rgba(117, 134, 227, 0.6), transparent); /* textClr 60% opacité > transparent (fond) */
  --bg2: linear-gradient(to bottom, rgba(117, 134, 227, 0.3), rgba(70, 83, 153, 0.1)); /* textClr 30% opacité > baseClr3 10% opacité (fond) */

  --grad1: linear-gradient(to right, var(--baseClr2), var(--textClr), var(--baseClr2)); /* gradient métallisé */
  --grad2: linear-gradient(to right, var(--gradClr1), var(--accentClr)); /* gradient 2 couleurs */
}

/* ------------------------------------ */

/* --- généralités --- */
*, body, div {
  box-sizing: border-box; 
}

/* --- BODY (TOUTES LES PAGES) --- */
body {
  font-size: 1.6rem; /* 16px par défaut */
  font-family: var(--font1); 
  margin: 0 !important; 
  overflow-x: hidden; 
  background: var(--body) fixed center top; 
  background-size: cover; 
  background-repeat: no-repeat; 
  color: var(--textClr); 
  font-weight: var(--base-fw); 
  line-height: var(--base-lh); 
}

.main_forum {
  width: 108rem; /* 1080px */
  margin: auto; 
  margin-bottom: 10rem !important; 
}

/* --- SCROLLBAR (chrome) --- */ 
::-webkit-scrollbar {/* code */}
::-webkit-scrollbar-track {/* code */}
::-webkit-scrollbar-thumb {/* code */}

/* réduction taille des emojis forumactif */ 
.emojione {
  width: 18px !important; 
}

hr {
  /* code */
}

/* --- liens et textes --- */ 
/* styles de texte */
b, strong {/* code */}
i {/* code */}
u {/* code */}
strike {/* code */}

h1 {
  /* généralité pour les titres principaux */
}

h1.page-title {
  font-size: var(--biggest); 
  font-family: var(--font2); 
  text-transform: uppercase; 
  background: var(--grad2); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  max-width: 50rem; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  position: relative; 
}

h1, h1.page-title {
  /* code pour les titres principaux */
}

h2 {
  /* titres secondaires */
}

h3 {
  /* sous-titres */
}

h4, h5, h6 {
  /* sous-titres très secondaires (du plus important au moins important) */
}

p {
  margin: 0; 
}

a {
  text-decoration: none; 
  color: var(--accentClr); 
  transition: var(--base-transi); 
}

a:hover {
  color: var(--accentClr2); 
  transition: var(--base-transi); 
}

/* blocs de texte */
blockquote div {
  /* code */
}

/* balises code, spoiler, hide, cite */ 
/* CODE */
.codebox {
  /* code */
}

.codebox dd {
  /* code */
}

.codebox code {
  /* code */
}

/* "copier" */
.copycode {
  /* code */
}

/* SPOILER */
.hidebox.spoiler {
  /* code */
}

/* fermé */ .spoiler_content {display: none;}
/* ouvert */ .spoiler_content.hidden {display: block;}

/* CITER "NOM" */
blockquote cite {/* code */}
blockquote cite a {/* code */}

/* HIDE */
.codebox.hidecode dd {/* code */}

/* tag */
.mentiontag {/* code */}

/* CLASSES UTILITAIRES VARIEES */ 
/* fix hauteur forum (#top button) */
#top {
  top: -10rem;
  position: relative;
}

/* ---------------- FIN GENERALITES -------------------- */

/* --- HEADER (BANNIERE ET HAUT DE PAGE) --- */
#header {
  background: var(--header);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 12rem 0 5rem 0; 
  height: 60rem; 
}

/*
.header__progressbar {
  height: 0.1rem; 
  width: 60rem; 
  background: var(--baseClr); 
  z-index: 999; 
  opacity: 1; 
  position: absolute; 
  top: 45%;
  left: 50vw; 
  transform: translate(-50%); 
  transition: var(--base-transi);
}

.header__progressbar::after { 
  content: ""; 
  background: var(--grad2); 
  height: 0.1rem; 
  width: 60rem;
  position: absolute; 
  transform-origin: left; 
  transition: var(--base-transi); 
  animation: header__progressbar 2s ease forwards; 
}

@keyframes header__progressbar {
  0% {
    transform: scaleX(0); opacity: (0); 
  }
  99% {
    transform: scaleX(1); opacity: (1);
  }
  100% {
    transform: scaleX(1); opacity: (0); 
  }
}

@keyframes header__apparition {
  0% {
    clip-path: circle(0% at 50% 50%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
*/

/* --- NAVIGATION --- */
.navbar, .footerbar {
  height: 4.5rem; 
  width: 100%; 
  background: var(--baseClr-90); 
  position: fixed; 
  z-index: 999; 
  left: 0; 
}

/* --- NAVBAR ET FOOTERBAR --- */
/* --- navbar (top) --- */
.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 2rem; 
  top: 0; 
}

.navbar ul {
  display: flex; 
}

/* liens inutilisés de la navbar */
.navbar li:nth-child(2), .navbar li:nth-child(3), .navbar li:nth-child(4) {
  display: none; 
}

a.mainmenu, .footerbar a {
  font-size: var(--medium2);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--textClr); 
}

a.mainmenu:hover, .footerbar a:hover {
  color: var(--accentClr); 
}

.navbar .navbar__rightmenu {
  width: 30rem;
  text-align: right;
}

/* icônes de la navbar */
a.mainmenu[href^="/"]::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Font Awesome 6 Free';
  background: var(--grad2); 
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  padding-left: 0.5rem; 
  font-size: var(--medium2);  
  content: "\f08b"; 
}

/* accueil */
a.mainmenu[href="/"]::before {
  content: '\f015';  
}

/* rechercher */
a.mainmenu[href="/search"]::before {
  content: '\f002';  
}

/* membres */
a.mainmenu[href="/memberlist"]::before {
  content: '\f0c9';  
}

/* rechercher */
a.mainmenu[href="/groups"]::before {
  content: '\e533';  
}

/* profil */
a.mainmenu[href="/profile?mode=editprofile"]::before {
  content: "\f007"; 
}

/* messagerie */
a.mainmenu[href="/privmsg?folder=inbox"]::before {
  content: "\f0e0"; 
}

/* --- footerbar (bottom) --- */
.footerbar {
  bottom: 0;
  display: flex;
  justify-content: right; 
  align-items: center;
}

.footerbar, .footerbar a {
  font-size: var(--smaller); 
}

#page-footer {
  min-width: 65rem; 
  max-width: 100rem; 
  margin-right: 2rem; 
  color: var(--baseClr2); 
}

/* --- BOUTONS FOOTERBAR --- */
.footerbar_buttons {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* --- boutons switch de thème et up/down --- */
@media (prefers-color-scheme: dark) {
	.color-scheme-toggle .dark {
		display: none;
	}
}
@media (prefers-color-scheme: light) {
	.color-scheme-toggle .light {
		display: none;
	}
}
.color-scheme-toggle,
[data-color-scheme="light"] .color-scheme-toggle .dark,
[data-color-scheme="dark"] .color-scheme-toggle .light {
	display: block;
	width: 100%;
}

[data-color-scheme="dark"] .color-scheme-toggle .dark,
[data-color-scheme="light"] .color-scheme-toggle .light {
	display: none;
}

.color-scheme-toggle, .footerbar_buttons a {
	background-color: var(--baseClr3-20);
	color: var(--textClr);
  display: flex; 
  align-items: center; 
  transition: var(--base-transi); 
  width: 3rem; 
  height: 3rem; 
  position: relative; 
  z-index: 1;
}

.color-scheme-toggle {
  font-size: var(--medium2); 
}

.footerbar_buttons a {
  margin: 0 0.1rem; 
  justify-content: center; 
  font-size: var(--small); 
}

.footerbar_buttons a:hover::after, .color-scheme-toggle:hover::after {
  opacity: 1; 
}

.footerbar_buttons a::after, .color-scheme-toggle::after {
  content: ""; 
  position: absolute !important; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  opacity: 0; 
  background-color: var(--baseClr3-20); 
  z-index: -1; 
  transition: var(--base-transi); 
}

.color-scheme-toggle:hover, .footerbar_buttons a:hover {
	color: var(--accentClr);
  transition: var(--base-transi);
}

/* radius boutons + hover */
.footerbar_buttons a[href="#top"], .footerbar_buttons a[href="#top"]::after {
  border-radius: 0.8rem 0 0 0.8rem; 
}

.footerbar_buttons a[href="#bottom"], .footerbar_buttons a[href="#bottom"]::after {
  border-radius: 0 0.8rem 0.8rem 0; 
}

/* "panneau d'administration" */
.adminlink {
  color: var(--baseClr3); 
}

.adminlink::after {
  content: " | "; 
}

.adminlink a {
  color: var(--accentClr) !important;
}

.adminlink a:hover {
  color: var(--accentClr2) !important; 
}

/* couleur des liens de bas de page */
.right a {
  color: var(--baseClr2); 
}

/* --- SIDEBAR : css externe (voir overall_header) --- */
/* --- SWITCHEROO : css externe (voir overall_header) --- */
/* ------------------------------------ */

/* --- TOOLBAR ET MENU D'ACCUEIL FORUMACTIF --- */
#fa_left {display: none;} /* suppression logo fa */

/* conteneur menu welcome */
#fa_menulist {
  /* code */
}

/* contenu menu welcome et liste des notifications */
ul#fa_menulist, ul#notif_list {
  /* code */
}

/* notifications */
#fa_notif_list {
  /* code */
}

/* popup notifications */
#fa_toolbar #live_notif {
  /* code */
}

#fa_toolbar #live_notif .fa_notification {
  /* code */
}
/* ------------------------------------ */

/* --- PA : css externe (voir overall_header) --- */
/* ------------------------------------ */

/* --- CATEGORIES (index_box) --- */

/* ici, tout le code concernant les catégories et leur affichage */ 
/* ------------------------------------ */

/* --- QEEL | QUI EST EN LIGNE (index_body) --- */

/* ici, tout le code concernant le qeel et son affichage */ 
/* ------------------------------------ */

/* --- FOOTER (overall_footer_end) --- */

/* ici, tout le code concernant le bas de page ainsi que les petits détails de la page d'accueil */
/* ------------------------------------ */

/* ------------------------------------ */
/* --- PAGE LISTE DES SUJETS --- */
/* ------------------------------------ */

/* --- PAGE SUJETS SURVEILLES --- */
/* ------------------------------------ */

/* --- PAGE MESSAGES --- */
.container {
  display: flex; 
  flex-wrap: wrap; 
}

/* structure message */
.post {
  display: flex; 
  margin: 0.5rem 0; 
}

/* encadré titre des messages (boutons, pagination, etc) */
.container__title {
  background: var(--baseClr-90); 
  width: 100%; 
  border-radius: var(--big-radius); 
  margin-bottom: 0.5rem; 
  height: 10rem; 
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: space-between; 
  padding: 0.5rem 1.5rem; 
}

/* messages */
.container__post {
  background: var(--baseClr2-20); 
  width: 81rem; 
  border-radius: 0 1.6rem 1.6rem 0;
}

/* intérieur message */
.post_message.postbody.content { 
  background: var(--baseClr-90); 
  border-radius: var(--radius);
  filter: var(--drop-shadow); 
  margin: 2rem;
  font-size: var(--medium); 
  line-height: var(--small-lh); 
  padding: 2.5rem; 
  min-height: 62rem !important; 
}

/* profil message */
.post_profile {
  background: var(--baseClr-90);
  width: 26.5rem; 
  border-radius: 1.6rem 0 0 1.6rem;
  margin-right: 0.5rem;  
}

/* chaîne de navigation et pagination */
.container__title .navigation_links, .container__title .pagination.right {
  width: 50%; 
}

.container__title .navigation_chain {
  font-size: var(--small); 
  text-transform: uppercase; 
  font-weight: var(--semibold-fw); 
}

.container__title .navigation_chain a {
    color: var(--textClr);
}

.container__title .navigation_chain i {
  font-size: var(--smallest);  
  padding: 0 0.2rem; 
}

/* participants */
.title_posterslist {
  display: flex;
  align-items: center;
}

.poster-list {
  display: flex; 
  flex-wrap: nowrap; 
  gap: 0.5rem; 
  margin-right: 1rem; 
  margin-left: 0.5rem; 
}

.poster {
  background-image: var(--poster-avatar); 
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-size: cover;
  transition: all ease .8s;
  opacity: 0.8; 
}

.poster:hover {
  opacity: 1; 
}

.poster-more {
  background-image: var(--baseClr2-20); 
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.poster-more:hover .poster-more-list {
  /* à définir */
}

.poster-count, .poster-more-list {
  display: none; 
}

/* boutons nouveau/répondre (et autres éventuels) */
a.buttons {
  position: relative; 
  background: var(--baseClr2-20); 
  padding: 0.5rem 1rem; 
  border-radius: var(--small-radius); 
  margin-right: 0.5rem; 
}

a.buttons span {
  background: var(--grad1); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--medium2); 
  text-transform: uppercase; 
  font-weight: var(--semibold-fw); 
  letter-spacing: -0.05rem; 
}

a.buttons::after {
  content: "";
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  border-radius: var(--small-radius);
  background: var(--baseClr2-20);
  transition: var(--base-transi);
}

a.buttons:hover {
  transition: var(--base-transi);
}

a.buttons:hover::after {
  opacity: 1; 
}

/* --- container interne --- */
/* détails du post (et boutons citer, éditer, etc) */
.post_details {
  padding: 2rem 2.5rem 0 2.5rem; 
}
.post_details, .profile-icons {
  display: flex; 
  justify-content: space-between; 
}

/* lien du sujet et date */
.post_date {
  display: flex;  
  font-size: var(--small); 
  text-transform: uppercase;
  font-weight: var(--semibold-fw); 
}

.post_date a { 
  max-width: 200px; 
  display: inline-block; 
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  color: var(--textClr); 
}

time::before {
  content: "|"; 
  padding-right: 0.3rem; 
}

/* boutons citer, éditer, etc */
.profile-icons {
  font-size: var(--medium); 
  font-weight: var(--semibold-fw); 
  background: var(--grad1); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase; 
  letter-spacing: -0.05px; 
}

.profile-icons li {
  padding: 0 0.3rem; 
}

/* bouton like */
.rep-button, .rep-button:active, .rep-button:focus {
  background: var(--accentClr); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  font-size: var(--small2);  
}

button.rep-button .rep-nb {
  padding: 0.5rem; 
}

/* --- BAS DE PAGE --- */
.footer_messages, .container__footermsgs {
  background: var(--baseClr-90); 
  width: 100%; 
  border-radius: var(--big-radius); 
  padding: 1rem 1.5rem; 
  margin-top: 1rem;
}

.links_bar__msgslinks {
  display: flex; 
  font-size: var(--medium); 
  font-weight: var(--semibold-fw); 
  text-transform: uppercase; 
}

.links_bar__msgslinks a {
  color: var(--textClr); 
}

.links_bar__msgslinks a:hover {
  color: var(--accentClr); 
}

.links_bar__msgslinks a:nth-child(2)::before, .links_bar__msgslinks a:nth-child(2)::after {
  content: " | "; 
  color: var(--textClr); 
}

.links_bar__msgslinks span:nth-child(3) { 
  padding: 0 0.3rem; 
}

/* réponse rapide */
#quickreply_content .h3 {
  display: none; 
}

.quickreply {
  display: flex; 
  justify-content: center; 
  margin-top: 2rem; 
}

/* container réponse rapide */
.sceditor-container {
  border: none !important; 
}

/* zone de texte et container */
.sceditor-container, .sceditor-container textarea {
  width: 85rem !important; 
  min-height: 20rem !important; 
  max-height: 35rem !important;
  margin: 0 !important; 
  background: var(--baseClr3-10) !important;  
  border-radius: var(--radius) !important; 
}

/* zone de texte SEULE */
.sceditor-container textarea {
  padding: 1rem !important; 
  color: var(--textClr) !important; 
  font-family: var(--font1) !important; 
  line-height: var(--base-lh); 
  border-radius: 0 0 var(--radius) var(--radius) !important; 
}

<<<<<<< HEAD
/* icône pour redimensioner */
div.sceditor-grip {
  display: none !important; 
}

=======
>>>>>>> 9f5295b35f1cff874b4d64527ede143aefeba72a
/* barre d'outils */
div.sceditor-toolbar {
  background: var(--baseClr2-20) !important; 
  border-bottom: 1px solid var(--baseClr-90) !important; 
  padding: 0.5rem !important; 
  border-radius: var(--radius) var(--radius) 0 0 !important; 
}

div.sceditor-group {
  border-radius: 0.4rem !important; 
<<<<<<< HEAD
    background: var(--baseClr-70) !important; 
=======
  background: var(--baseClr-70) !important; 
>>>>>>> 9f5295b35f1cff874b4d64527ede143aefeba72a
  border: none !important; 
}

a.sceditor-button {
  height: 28px !important;
  width: 28px !important;
}

<<<<<<< HEAD
=======
/* boutons inutilisés */
div.sceditor-grip, .sceditor-button.sceditor-button-color {
  display: none !important; 
}

>>>>>>> 9f5295b35f1cff874b4d64527ede143aefeba72a
/* ------------------------------------ */

/* --- PAGE POSTER UN MESSAGE | BOITE DE TEXTE --- */
/* ------------------------------------ */

/* --- PAGE MESSAGES PRIVES --- */
/* ------------------------------------ */

/* ------------------------------------ */
/* --- PAGE DE PROFIL --- */
/* ------------------------------------ */

/* --- PAGE LISTE DES MEMBRES --- */
/* ------------------------------------ */

/* --- PAGE DES GROUPES --- */
/* ------------------------------------ */

/* ------------------------------------ */
/* --- DIVERS --- */