/* --- PAGE D'ACCUEIL DE BYEONHWA --- */
.container__pa {
    background: linear-gradient(to right, var(--baseClr2-20), var(--baseClr-90) 60%);
    border-radius: var(--radius);
}

/* intérieur */
.pa__int {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    height: 32rem;
    gap: 1rem; 
    padding-top: 1rem; 
}

/* top-sites */
.pa_tops {
    height: 100%;
    width: 4.5rem; 
    margin: 0 0 1rem 1rem; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;  
    padding: 1rem; 
}

.pa_tops a {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pa_tops a lord-icon {
    height: 4rem; 
    width: 4rem; 
}

.pa_tops a span {
    background: var(--baseClr2-20); 
    font-size: var(--bigger2); 
    height: 100%; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    border-radius: 100%;  
    transition: var(--base-transi); 
}

.pa_tops a span:hover {
    opacity: 0.8; 
    transition: var(--base-transi); 
    color: var(--accentClr2); 
}

/* -- GENERAL -- */
.pa__main, .pa__infos, .pa__pnote, .pa__meteo, .pa__staff, .pa__scen, .pa_tops {
    background: var(--baseClr); 
    filter: var(--drop-shadow); 
    border-radius: var(--radius); 
}

/* -- main -- */
.pa__main {
    width: 40rem; 
    height: 21rem; 
}

.pa__main .tabs-container {
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    padding: 1rem; 
}

.pa__main .tabs, .pa__staff .staff-title, .pa__scen .scen-title, .pa__meteo .meteo-title {
    font-family: var(--font2); 
    text-transform: uppercase; 
    font-size: var(--bigger); 
    letter-spacing: 0.5; 
}

.pa__main .tabs {
    display: flex; 
    justify-content: space-around; 
}

.pa__main .tabs .tab.active {
    color: var(--textClr); 
}

/* contenus tabs */
.pa__main .tabs-content {
    overflow: auto; 
    text-align: justify; 
    margin: 1rem 0; 
    padding: 0 1rem; 
    font-size: var(--medium); 
}

/* -- infos -- */
.pa__infos {
    width: 40rem; 
    height: 8rem; 
}

.bh_infos {
    font-size: var(--medium); 
    text-align: justify; 
    padding: 0.5rem 1rem; 
}

/* -- patch note -- */
.pa__pnote {
    width: 15.5rem; 
    height: 8rem; 
    background: var(--pnoteimg); 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.pa__pnote::after {
  content: "";
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  border-radius: var(--radius);
  background: var(--baseClr2-20);
  transition: var(--base-transi);
}

.pa__pnote:hover::after {
    opacity: 1; 
}

.pa-pnotetxt {
    font-family: var(--font2); 
    text-transform: uppercase; 
    font-size: var(--bigger2);  
    text-align: center;  
    font-weight: var(--bold-fw); 
    background: var(--grad1); 
    background-size: 100%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* -- météo -- */
.pa__meteo {
    width: 15.5rem; 
    height: 21rem; 
    display: flex; 
    flex-direction: column; 
}

.pa__meteo .meteo-title {
    display: flex; 
    justify-content: center; 
    padding: 1rem; 
    color: var(--accentClr); 
}

/* températures */
.pa__meteo .meteo-in {
    display: flex; 
    flex-direction: column; 
    height: 35%; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 0.5rem; 
}

.pa__meteo > .meteo-in bom, .meteo-in yeoreum, .meteo-in mun, .meteo-in gaeul, .meteo-in gyeoul {
    display: flex; 
    flex-direction: column; 
}

/* centre-ville */
.pa__meteo .meteo-in mun {
    height: 100%; 
    justify-content: flex-end; ; 
}

.pa__meteo .meteo-in mun i {
    font-size: var(--biggest); 
}

.pa__meteo .meteo-in mun .meteo-deg {
    padding-top: 1rem; 
}

/* autres clans */
.pa__meteo .meteo-in i {
    text-align: center; 
}

.pa__meteo .meteo-deg {
    color: var(--baseClr3); 
    font-size: var(--small2); 
    font-weight: var(--semibold-fw); 
    margin-top: 0.2rem; 
}

/* description */
.pa__meteo .meteo-text {
    height: 40%; 
    font-size: var(--small2); 
    text-align: justify; 
    overflow: auto; 
    margin: 1.5rem 0.5rem 1rem 0.5rem;  
    padding: 1rem; 
}

/* -- staff et scénarios -- */
.pa__staff, .pa__scen {
    width: 30rem; 
    height: 14.5rem; 
    padding: 1rem;
}

.pa__staff .staff-title, .pa__scen .scen-title {
    padding-left: 1rem; 
    color: var(--accentClr); 
}

/* -- staff -- */
.staff__int {
    overflow: auto; 
}

.staff__int .staff-links {
    display: flex; 
    justify-content: center; 
    gap: 1rem; 
    padding: 1rem 0; 
}

/* textes images */
.staff__int .staff-links a {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.staff__int .staff-name {
    position: absolute; 
    font-size: var(--medium); 
    opacity: 0; 
    transition: var(--slow-transi); 
}

/* images */
.staff__int a img {
    height: 5rem; 
    width: 5rem; 
    border-radius: 100%; 
    object-fit: cover; 
    opacity: 0.8; 
    position: relative;  
    transition: var(--slow-transi); 
}

.staff__int a:hover img {
    opacity: 0.3; 
    transition: var(--slow-transi); 
}

.staff__int a:hover .staff-name {
    opacity: 1; 
    transition: var(--slow-transi); 
}

.staff__int .staff-infos {
    font-size: var(--small2); 
    text-align: justify; 
}

/* -- scen -- */
.pa__scen .scen-in {
    width: 100%; 
    height: 80%; 
    overflow-x: auto !important; 
    overflow-y: hidden !important; 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    gap: 1rem; 
}

.pa__scen .scen-title {
    width: 100%; 
    text-align: right; 
}

.pa__scen .scen-box a img {
    height: 7rem; 
    width: 5rem; 
    object-fit: cover; 
    border-radius: var(--small-radius); 
    opacity: 0.8; 
    transition: var(--base-transi); 
}

.pa__scen .scen-box a img:hover {
    opacity: 0.4; 
    transition: var(--base-transi); 
}

.pa__scen .scen-box {
    background: var(--baseClr3-10); 
    border-radius: var(--small-radius); 
    padding: 1rem; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 70%; 
    flex: 1; 
    gap: 1rem; 
    margin-bottom: 1rem; 
}

/* bloc infos */
.pa__scen .scen-infos {
    font-size: var(--medium); 
}

.scen-infos .scen-name, .scen-infos .scen-rank {
    font-weight: var(--semibold-fw); 
    display: flex; 
    justify-content: space-between; 
}

.scen-infos .scen-adj {
    font-size: var(--small2); 
    text-align: justify; 
    padding-top: 0.8rem; 
}

/* -- partenaires -- */
.pa__partners {
    padding: 0 1rem 1rem 0; 
    height: 100%; 
    width: 13rem;  
    display: flex; 
    flex-direction: column; 
    align-items: center;  
    justify-content: space-between; 
}

.pa__partners a {
    text-align: center;  
    color: var(--textClr);
}

.pa__partners a:hover {
    color: var(--accentClr); 
}

/* isekai */ 
.imo {
    font-family: 'Philosopher', serif; 
    font-size: var(--medium2); 
    text-transform: uppercase;  
    font-weight: var(--bold-fw);
}

/* lca */
.lca {
    font-family: 'Galada', sans serif; 
}

/* itu */
.itu {
    font-family: 'Times New Roman', serif; 
    text-transform: uppercase; 
    font-size: var(--medium2); 
}

.itu-2 {
    font-family: 'La belle Aurore'; 
    text-transform: lowercase; 
    font-size: var(--bigger); 
    font-weight: var(--base-fw); 
    letter-spacing: 1.5; 
}

/* vous ? */
.become-partners {
    font-family: var(--font2); 
    text-transform: uppercase; 
    font-size: var(--bigger); 
}

/* bouton */
.seepartners-button {
    font-size: var(--small2);
    font-weight: var(--semibold-fw); 
    border-radius: 1.6rem !important; 
    margin: 0; 
}

.seepartners-button::after {
    border-radius: 1.6rem !important; 
}