/* --- QEEL DE BYEONHWA --- */
.container__qeel {
    background: linear-gradient(to left, var(--baseClr2-20), var(--baseClr-90) 60%);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    height: 22rem;
    gap: 1rem; 
    padding: 1rem; 
    margin: 8rem 0 2rem 0; 
}

.qeel__welcome, .qeel__groups, .qeel__infos {  
    border-radius: var(--radius); 
    filter: var(--drop-shadow); 
}

.qeel__welcome, .qeel__infos {
    background: var(--baseClr); 
}

/* --- BLOC GAUCHE : WELCOME, STATS --- */
.qeel__welcome {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 1rem;
    line-height: 1; 
}

#last_user {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-wrap: wrap;
    height: 5rem;
}

.lastuser_welc, #lastuser_id {
    padding-left: 1rem; 
}

#lastuser_avatar img {
    height: 5rem; 
    width: 5rem; 
    object-fit: cover; 
    border-radius: 100%; 
}

#last_user, #qeel__stats {
    font-family: var(--font2); 
    text-transform: uppercase; 
}

#qeel__stats {
    text-align: right; 
}

/* BLOC GAUCHE BAS : GROUPES */
.qeel__groups {
    height: 12rem;
    width: 52.5rem;
    background: var(--baseClr2-20);
    border-radius: var(--radius);
    padding: 1rem; 
}

/* accordion container */
.qeel__groups .accordion {
    background: var(--baseClr); 
    height: 100%; 
    width: 100%; 
    border-radius: var(--radius); 
    display: flex; 
    justify-content: flex-end; 
    overflow: hidden; 
}

/* --- IMAGES/HEADERS */
.qeel__groups .accordion .a-header {
    display: flex; 
    cursor: pointer; 
}

.qeel__groups .accordion .a-header img {
    height: 10rem; 
    width: 1.5rem; 
    object-fit: cover; 
    padding: 0 0.5px; 
    opacity: 0.8; 
}

.qeel__groups .accordion .a-header .akmaq-img {
    padding: 0; 
}

/* --- ITEMS --- */
.qeel__groups .accordion .a-item {
    display: flex;
    flex-direction: row;
    transition: flex 0.8s ease; 
}

.qeel__groups .accordion .a-item.active {
    transform: translate(0); 
    flex: 3; 
    transition: transform 1s ease, opacity 5s ease; 
}

/* --- CONTENTS --- */
.qeel__groups .accordion .a-content {
    transform: translateX(40rem); 
    transition: transform 0.8s ease;
    opacity: 0; 
    font-size: var(--medium); 
    text-align: justify; 
    width: 0; 
}

.a-item.active .a-content {
    opacity: 1; 
    transform: translateX(0);   
    transition: transform 0.8s ease, opacity 2.5s ease;
    padding: 1rem; 
    width: 100%; 
}

/* --- BLOC DROIT : EN LIGNE, 48H --- */
.qeel__infos {
    width: 52.5rem; 
    height: 20rem; 
    display: flex; 
    align-items: center; 
}

.qeel__infos .online_users, .qeel__infos .lastonline {
    width: 50%; 
    height: 100%; 
    font-size: var(--medium);  
    padding: 2rem; 
    text-align: justify; 
    text-transform: lowercase; 
}

.qeel__infos .online_users br {
    display: none; 
}

/* séparateur */
.qeelinfos__sep {
    width: 1px; 
    border-left: 1px solid var(--baseClr3-40); 
    height: 80%; 
}
