/* --- QEEL DE BYEONHWA --- */
.container__qeel {
    background: linear-gradient(to left, var(--baseClr2-20), var(--baseClr-90) 60%);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    height: 22rem;
    gap: 1rem; 
    padding-top: 1rem; 
}

.qeel__welcome, .qeel__infos {
    background: var(--baseClr) !important;  
    border-radius: var(--radius); 
    filter: var(--drop-shadow); 
}

/* -- bloc gauche haut : welcome, stats -- */
.qeel__welcome {
    height: 7rem; 
}

/* -- bloc gauche bas : groupes -- */
qeel__groups {
    height: 12rem; 
    width: 52.5rem; 
}

