/* --- SIDEBAR --- */
.sidebar {
    transform: translateX(-100%); 
    position: fixed; 
    top: 4.5rem; 
    width: 35rem; 
    height: calc(100vh - 9rem); 
    transition: all 0.4s ease-in-out; 
    background: var(--baseClr-90); 
}

/* sidebar ouverte (spécifiquement) */
.sidebar--open {
    transform: translateX(0); 
}

/* --- menu button --- */
.sidebar__btn {
    all: unset; 
    cursor: pointer; 
    position: relative; 
    display: flex;
    align-items: center;
    font-size: var(--medium2); 
    font-weight: 600; 
    text-transform: uppercase; 
}

.sidebar--open #sidebar__btn {
    display: none;
}

#sidebar__btn--close {
    display: none;
}

.menu__icon {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-right: 0.6rem;
}

/* icône "menu" */
.menu__icon i {
    height: 0.2rem;
    width: 1.2rem;
    background: var(--textClr);
    display: inline-block;
}

/* icône "fermer" */
