/* --- SIDEBAR --- */
.sidebar {
    transform: translateX(-100%); 
    position: fixed; 
    top: 4.5rem; 
    width: 35rem; 
    height: calc(100vh - 9rem); 
    transition: var(--slow-transi);  
    background: var(--baseClr-90); 
    z-index: 999; 
}

/* sidebar ouverte (spécifiquement) */
.sidebar--open {
    transform: translateX(0); 
}

/* --- menu button --- */
.sidebar__btn {
    all: unset; 
    cursor: pointer; 
    position: relative; 
    display: flex;
    align-items: center;
    font-size: var(--medium2); 
    font-weight: 600; 
    text-transform: uppercase; 
    width: 30rem; 
}

/* "menu" et "fermer" */
.menu__icon::after {
    content: "menu"; 
}

.menu__icon.menu__icon--x::after {
    content: "fermer"; 
}

/* icônes précédent "menu" et "fermer" */
/* icône "menu" (3 barres) */
.menu__icon {
    display: flex; 
    flex-wrap: nowrap; 
    align-items: center; 
    width: 5rem; 
}

.menu__icon span {
    display: flex; 
    flex-direction: column; 
    gap: 0.2rem; 
    margin-right: 0.8rem; 
    transform: rotateZ(0deg); 
    transition: var(--base-transi); 
}

.menu__icon span i {
    display: inline-block; 
    height: 0.2rem; 
    width: 1.2rem; 
    background: var(--textClr); 
}

/* icône "fermer (x) */
.menu__icon--x span i:nth-child(3) {
    display: none; 
}

.menu__icon--x span i:nth-child(2), .menu__icon--x span i:nth-child(3) {
    position: absolute; 
    transform: rotateZ(90deg); 
}

.menu__icon.menu__icon--x span {
    transform: rotateZ(135deg); 
    transition: var(--base-transi); 
}

/* --- TOOLBAR FA GAUCHE (dans sidebar) --- */
ul#fa_menulist, #fa_search, #fa_share {
    display: none; 
}

#fa_right:not(#notif_list):not(#live_notif):not(#fa_hide) {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    width: 35rem; 
    height: 20rem; 
    background: var(--bg1); 
    padding-top: 3rem; 
}

/* avatar */
#fa_right .fa_avatar, #fa_right #fa_menu {
    height: 6.5rem; 
    object-fit: cover; 
    border-radius: 100%; 
} 

.fa_avatar, .fa_avatar img {
    width: 6.5rem; 
    height: 6.5rem; 
    object-fit: cover; 
    border-radius: 100%; 
}

/* menu et bienvenue */
#fa_menu {
    display: flex; 
    flex-direction: column; 
    align-items: center;  
    margin-left: 2rem; 
}

#fa_welcome {
    font-family: var(--font2); 
    text-transform: uppercase; 
}

/* menu tooltip dans la toolbar (liens utiles) */
.container__tbtp {
    display: flex; 
    font-size: var(--medium); 
}

.tbtp__box:first-of-type {
    width: 9rem !important;  
    border-radius: var(--small-radius) 0 0 var(--small-radius); 
    text-align: center; 
    padding: 1rem; 
    line-height: 1; 
    font-variant: small-caps; 
    font-weight: bold; 
}

.tbtp__box:last-of-type {
    border-radius: 0 var(--small-radius) var(--small-radius) 0; 
}

.tbtp__box {
    background: var(--baseClr); 
    width: 3.5rem; 
    height: 3.5rem; 
    margin: 0.5px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.tbtp__box a {
    background: var(--grad1); 
    background-size: 100%; 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.tbtp__box i {
    font-size: var(--medium2); 
}

/* --- SIDEBAR CONTENU --- */