/* --- SWITCHEROO by Monomer (barre latérale droite d'ajout de personnages) --- */
.switcheroo {
  transform: translateX(100%);
  position: fixed;  
  top: 6rem;
  right: 0;
  width: 8rem;
  height: 40rem;
  transition: all 0.4s ease-in-out;
  background: var(--baseClr-90);
  border-radius: var(--big-radius); 
  z-index: 999; 
}

.switcheroo--open {
  transform: translateX(-20%); 
}

.switcheroo__btn {
  all: unset; 
  cursor: pointer; 
  align-items: center;
  font-size: var(--medium2); 
  font-weight: 600; 
  text-transform: uppercase; 
}

/* "personnage" */
.switcheroo__icon::before {
  content: "personnages"; 
}

/* icône > */ 
.switcheroo__icon {
  display: flex; 
  align-items: center; 
}

.switcheroo__icon span {
  height: 0.8rem; 
  width: 0.8rem; 
  border-top: 0.2rem solid var(--textClr); 
  border-right: 0.2rem solid var(--textClr); 
  transform: rotateZ(45deg); 
  margin-left: 0.8rem; 
  transition: var(--base-transi); 
}

.switcheroo__icon--closed span {
  transform: rotateZ(-135deg); 
  transition: var(--base-transi); 
}