/* --- structure bottin --- */
.listing-bh > .sorting-row, .item-row {
  display: grid;
  grid-template-columns: 10% 25% 20% 20% 25%;
}

.listing-bh br {
  display: none; 
}

.listing-bh {
  background: linear-gradient(var(--baseClr3-10), var(--baseClr2-20));
  border-radius: var(--small-radius);
  padding: 0.5rem; 
}

.listing-bh .item-row, .listing-bh .sorting-row  {
  white-space: nowrap;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  background: var(--baseClr-90);
  border-radius: var(--small-radius);
  align-items: center;
}

/* ----------------- */
/* -- titres -- */
.listing-bh .sorting-row .sort-by {
  font-weight: var(--semibold-fw); 
  text-transform: uppercase; 
  color: var(--accentClr); 
  cursor: pointer;  
  transition: var(--base-transi); 
}

.listing-bh .sorting-row .sort-by:hover {
  color: var(--accentClr2); 
  transition: var(--base-transi); 
}

/* -- lignes -- */
.listing-bh .item-row a {
  font-weight: var(--semibold-fw); 
}

/* -- tags -- */
bh_taken, bh_free, bh_npc, bh_res, bh_scen {
  font-weight: var(--semibold-fw); 
  text-transform: uppercase; 
  font-size: var(--small); 
  padding: 0.2rem 1rem; 
  border-radius: var(--small-radius);   
}

bh_taken {
  background: var(--akmaOp); 
  color: var(--akma); 
}

bh_free {
  background: var(--yeoOp); 
  color: var(--yeo); 
}

bh_res {
  background: var(--gaeulOp); 
  color: var(--gaeul); 
}

bh_npc {
  background: var(--bhOp); 
  color: var(--bh); 
}

bh_scen {
  background: var(--munOp); 
  color: var(--mun); 
}