/* --- GENERAL FICHE EVO --- */
.bh_fevo {
  display: flex;
  width: 95%;
  margin: auto;
}

/* --- FICHE DE BASE --- */
.fevo_base, 
.fevo-story {
  display: flex; 
  height: 40rem;
  display: flex;
  width: 100%;
  gap: 0.6rem;
}

.fevo-story {
  height: 16rem !important;
}

/* -- avatar -- */
.fevo-avatar {
  background: linear-gradient(to bottom, var(--baseClr3-10), var(--baseClr3-20), var(--baseClr3-40)); 
  padding: 0.6rem; 
  border-radius: var(--radius);
}

.fevo-avatar img {
  border-radius: var(--radius);
  height: 100%;
  object-fit: cover;
}

/* --- container --- */
.fevo-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--baseClr3-10), var(--baseClr3-20), var(--baseClr3-40));
  padding: 0.6rem;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* --- ID (en haut) --- */
.fevo-header {
  height: 40%;
  width: 100%; 
  display: flex; 
  justify-content: space-between; 
  background: var(--baseClr); 
  border-radius: var(--radius); 
  align-items: center; 
}

.fevo-header b {
  color: var(--fevoclr); 
}

/* --- partie gauche et droite --- */
.fevo-header .fevo-id-left, 
.fevo-header .fevo-id-right {
  width: 50%;  
  padding: 0 2.5rem; 
}

.fevo-header .fevo-id-right {
  text-align: right; 
}

.fevo-name, .fevo-group {
  font-size: var(--bigger2); 
  font-family: var(--font2); 
  color: var(--fevoclr); 
  line-height: 1; 
}

/* --- icône/gif --- */
.fevo-icon img {
  border-radius: var(--radius);  
  margin: 0.5rem; 
}

/* --- contenu --- */
.fevo-content {
  text-align: justify;
  height: 100%;
  background: var(--baseClr);
  border-radius: var(--radius);
  padding: 1.5rem;
}

.fevo-content {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

.fevo-content .content-text {
  overflow: auto; 
  max-height: 18rem;  
  padding: 0 1rem; 
}

/* --- style --- */
.bh_fevo atitle1 {
  font-family: var(--font2); 
  font-size: var(--big); 
  padding: 0 1.5rem; 
  color: var(--fevoclr); 
}

.bh_fevo atitle1::after {
  background: var(--fevoclr); 
}

/* ------- MODULE TIMELINE ------- */
.fevo-timeline {
  height: 100%; 
  overflow-y: hidden; 
  overflow-x: auto; 
}

.fevo-timeline .time-event {
  background: var(--baseClr3-10); 
  height: 100%; 
  width: 20rem; 
  border-radius: var(--radius); 
  padding: 1rem; 
}

.fevo-timeline .time-date {
  font-weight: var(--semibold-fw); 
  text-transform: uppercase; 
}