/* --- GENERAL FICHE EVO --- */
.bh_fevo {
  display: flex;
  width: 95%;
  margin: auto;
}

/* --- FICHE DE BASE --- */
.fevo_base {
  display: flex; 
  height: 40rem;
  display: flex;
  width: 100%;
  gap: 0.6rem;
}

/* -- avatar -- */
.fevo-avatar {
  background: linear-gradient(to bottom, var(--baseClr3-10), var(--baseClr3-20), var(--baseClr3-40)); 
  padding: 0.6rem; 
  border-radius: var(--radius);
}

.fevo-avatar img {
  border-radius: var(--radius);
  height: 100%;
  object-fit: cover;
}

/* --- container --- */
.fevo-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--baseClr3-10), var(--baseClr3-20), var(--baseClr3-40)); 
  padding: 0.6rem;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 0.6rem; 
}

/* --- ID (en haut) --- */
.fevo-header {
  height: 40%;
  width: 100%; 
  display: flex; 
  justify-content: space-between; 
  background: var(--baseClr); 
  border-radius: var(--radius); 
}

/* --- partie gauche et droite --- */
.fevo-header .fevo-id-left, 
.fevo-header .fevo-id-right {
  width: 50%; 
  padding: 1rem; 
}

.fevo-name, .fevo-group {
  font-size: var(--bigger2); 
  font-family: var(--font2); 
  color: var(--fevoclr); 
  line-height: 1; 
}

.fevo-group {
  text-align: right; 
}

/* --- icône/gif --- */
.fevo-icon img {
  border-radius: var(--radius);  
  margin: 0.5rem; 
}

.fevo-content {
  text-align: justify;
  height: 100%;
  background: var(--baseClr);
  border-radius: var(--radius);
  padding: 1rem;
}